#panel {
    background: #2b2b2b;
}

.quote__section {
    height: 600px;
}
.quote__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 100%;
}
.quote__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.quote__title {
    color: #fff;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 590px;
    margin-bottom: 15px;
}
.quote__descr {
    color: rgba(255, 255, 255, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 605px;
}

.first-images__section {
    height: 750px;
    padding: 0 10px;
}
.first-images__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;

    & > img {
        width: 100%;
        height: 100%;
        max-height: 750px;
        object-fit: cover;
    }
}

.popular__inner {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
        transform: translateY(45px);
    }
}

.popular__line {
    border: none;
    max-width: 190px;
    margin: 100 auto 50 auto;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    height: 1px;
}

.popular__title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.popular__descr {
    max-width: 605px;
    margin: 0 auto;
    margin-bottom: 75px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popular__item {
    background: #343434;
    padding: 35px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 590px;
    transition: all 0.3s linear;
}

.popular__item:hover {
    transform: scale(1.015);
}

.popular__item-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    position: relative;
    width: 132px;
    height: 411px;
}

.popular__item-top-cover {
    color: rgba(255, 255, 255, 0.1);
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transform: rotate(-90deg);
    text-wrap: nowrap;
    position: absolute;
    bottom: 40px;
    left: 110px;
    width: 100%;
    font-style: normal;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum=1";
    -ms-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    -o-font-feature-settings: "lnum";
    cursor: default;
}

.popular__item-subtitle {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular__item-title {
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.popular__btn {
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-out;
}

.popular__btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.popular__items .swiper-wrapper {
    height: fit-content;
}

.swiper-button-prev::after {
    font-family: "icomoon" !important;
    content: "\e900";
    font-size: 50px;
    color: #fff;
}

.swiper-button-next::after {
    font-family: "icomoon" !important;
    content: "\e901";
    font-size: 50px;
    color: #fff;
}

.swiper-button-prev {
    left: -85px;
    width: 55px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-out;
}

.swiper-button-next {
    right: -85px;
    width: 55px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-out;
}

.swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 55px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    transition: all 0.3s ease-out;
}

.swiper-button-prev:hover::before {
    height: 120px;
    opacity: 1;
}

.swiper-button-prev:hover {    
    transform: translateY(45px) scale(1.03);    
}

.swiper-button-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 55px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    transition: all 0.3s ease-out;
}

.swiper-button-next:hover::before {
    height: 120px;
    opacity: 1;
}

.swiper-button-next:hover {
    transform: translateY(45px) scale(1.03);
}

.popular__line.line-long {
    max-width: 605px;
    margin: 100px auto 75px auto;
}

@media (max-width: 1480px) {
    .popular__title {
        font-size: 38px !important;
        margin-bottom: 25px;
    }

    .popular__descr {
        font-size: 18px;
        max-width: 505px;
        margin-bottom: 50px;
    }

    .popular__item {
        height: 505px;
    }

    .popular__item-subtitle {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .popular__item-title {
        font-size: 22px;
    }

    .popular__btn {
        font-size: 16px;
        padding: 5px 25px;
    }

    .popular__btn:hover {
        transform: scale(1.007);
    }

    .popular__item-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .popular__item-top {
        width: 102px;
        height: 313px;
    }

    .popular__item-top-cover {
        bottom: 25px;
        left: 90px;
        font-size: 45px;
    }

    .swiper-button-next {
        right: -65px;
        width: 40px;
        height: 90px;
    }

    .swiper-button-prev {
        left: -65px;
        width: 40px;
        height: 90px;
    }

    .swiper-button-prev::after {
        font-size: 36px;
    }

    .swiper-button-next::after {
        font-size: 36px;
    }

    .swiper-button-prev::before {
        width: 40px;
    }

    .swiper-button-next::before {
        width: 40px;
    }

    .swiper-button-prev:hover::before {
        height: 90px;
        opacity: 1;
    }

    .swiper-button-next:hover::before {
        height: 90px;
        opacity: 1;
    }

    .popular__line.line-long {
        margin: 75px auto 50px auto;
    }
}

.second-images__section {
    height: 750px;
    padding: 0 10px;
}
.second-images__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;

    & > img {
        width: 100%;
        height: 100%;
        max-height: 750px;
        object-fit: cover;
    }
}

.materials__section {
    padding: 75px 0;
}

.materials__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.materials__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.materials__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.materials__line {
    max-width: 190px;
    width: 100%;
    height: 1px;
    margin-left: 0;
    margin-bottom: 45px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}
.materials__title {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 590px;
    margin-bottom: 15px;
}
.materials__descr {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 605px;
}
.materials__left {
    position: relative;

    &::before {
        content: "";
        width: 560px;
        height: 285px;
        background: url(../img/door/materials-img-cover.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -47px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}
.materials__img {
    max-height: 440px;
    width: auto;
    position: relative;
}

.colors__section {
    margin-bottom: 125px;
}

.colors__line {
    max-width: 190px;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}
.colors__title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 75px;
}
.colors__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: flex-start;
}
.colors__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    & > img {
        width: 100%;
        height: auto;
    }
}
.colors__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding-top: 25px;
}
.colors__block-line {
    max-width: 80%;
    width: 100%;
    height: 1px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}
.colors__block-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    max-width: 125px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
    & > img {
        max-height: 175px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &.active {
        opacity: 1;
    }
    &.active img {
        border: 2px solid #c9c9c9;
        opacity: 1;
    }
}
.colors__block-items {
    max-width: 600px;
}
.colors__block-item-title {
    color: rgba(255, 255, 255, 0.65);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.colors__block-subtitle {
    color: #fff;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
    margin-bottom: 10px;
}

.work__form-shortcode {
    border: 2px solid #373737;
    background: linear-gradient(342deg, rgba(0, 0, 0, 0.25) 28.57%, rgba(51, 51, 51, 0.09) 98.92%);
    backdrop-filter: blur(15px);
    max-width: 770px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 50px;
    padding-bottom: 45px;
    position: relative;
}
.work__form .wpcf7 form .wpcf7-response-output {
    color: #a9a9a9;
    margin-top: 10px;
}
.work__form .wpcf7-not-valid-tip {
    color: #fff;
}

.work__form .work__form-descr {
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 485px !important;
    margin: 0 auto;
    margin-bottom: 25px;
}

.work__form-line {
    border: none;
    max-width: 190px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    height: 1px;
    margin-bottom: 25px;
}

.work__form .popup__form-inputs-day,
.work__form .popup__form-inputs-hours,
.work__form .popup__form-inputs-name,
.work__form .popup__form-inputs-phone,
.work__form .popup__form-inputs-message {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(22.5px);
    color: #fff;
    font-family: "Raleway";
    font-size: 18px;
    max-width: 100% !important;
    padding: 12px 25px;
    transition: all 0.3s ease-out;
}
.work__form .popup__form-inputs-day:focus,
.work__form .popup__form-inputs-hours:focus,
.work__form .popup__form-inputs-name:focus,
.work__form .popup__form-inputs-phone:focus,
.work__form .popup__form-inputs-message:focus {
    outline: none !important;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.35) !important;
    background: rgba(255, 255, 255, 0.35);
}
.work__form .popup__form-inputs-day::placeholder,
.work__form .popup__form-inputs-hours::placeholder,
.work__form .popup__form-inputs-name::placeholder,
.work__form .popup__form-inputs-phone::placeholder,
.work__form .popup__form-inputs-message::placeholder {
    color: rgba(255, 255, 255, 0.35);
}
.work__form .popup__form-inputs-day,
.work__form .popup__form-inputs-hours {
    margin-top: 8px;
}
.work__form .popup__form-inputs-message {
    resize: none !important;
    width: 100%;
    height: 195px;
}
.work__form .popup__form-inputs-date {
    max-width: 100%;
    width: 100%;
    gap: 25px;
}
.work__form p {
    max-width: 100% !important;
    width: 100%;
}
.work__form br {
    display: none;
}
.work__form .wpcf7-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.work__form .popup__form-inputs-date > p > label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.work__form .popup__call-form-submit:hover {
    border-color: #fff;
    color: #fff;
}

.work__form-subtitle {
    color: #fff;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 53px;
}

.work__form-contacts {
    width: 100%;
    max-width: 360px;
    flex-shrink: 0;
    border: 1px solid #959595;
    padding: 30px 40px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work__form-contacts > a {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.3s ease-out;
}
.work__form-contacts > a:hover {
    opacity: 0.5;
}

.work__form-email {
    font-size: 28px !important;
}

.work__form-contacts .work__form-line {
    margin: 10px auto;
}

.application__section {
    background-image: url("../img/door/form-cover.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.work__form {
    background-size: cover;
    position: absolute;
    top: 50%;
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
    z-index: 2;
    height: auto;
}
