#panel {
  background: #2b2b2b;
}
.header__top.darkpage .header__lower-title {
  font-size: 43px;
}
.elegance__section {
  margin-top: 70px;
}

.elegance__inner {
  max-height: 680px;
  position: relative;
}

.swiper-wrapper img {
  max-height: 680px;
}

.swiper-button-prev::after {
  font-family: "icomoon" !important;
  content: "\e900";
  font-size: 50px;
  color: #fff;
}

.swiper-button-next::after {
  font-family: "icomoon" !important;
  content: "\e901";
  font-size: 50px;
  color: #fff;
}

.swiper-button-prev {
  left: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-next {
  right: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-prev:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-prev:hover {
  transform: scale(1.03);
}

.swiper-button-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-next:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-next:hover {
  transform: scale(1.03);
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -25px;

  width: 100%;
  gap: 10px;
}

.swiper-pagination-bullet {
  height: 3px;
  width: 100px;
  border-radius: 0px !important;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 !important;
  transition: all 0.3s ease-out;
}


@media(max-width: 1480px) {
  .container {
    width: 100%;
    padding: 0 25px;
    max-width: 1050px !important;
  }
  .elegance__inner {
    max-height: 550px;
  }
  .swiper {
    max-width: 770px;
  }
  .swiper-wrapper img {
    max-height: 550px;
}
  .swiper-button-prev {
    left: 10;
    width: 40px;
    height: 90px;
  }
  .swiper-button-next {
    right: 10;
    width: 40px;
    height: 90px;
  }
  .swiper-button-prev::after {
    font-size: 36px;
  }

  .swiper-button-next::after {
    font-size: 36px;
  }

  .swiper-button-prev::before {
    width: 40px;
  }

  .swiper-button-next::before {
    width: 40px;
  }

  .swiper-button-prev:hover::before {
    height: 90px;
    opacity: 1;
  }

  .swiper-button-next:hover::before {
    height: 90px;
    opacity: 1;
  }
}



@media(max-width: 1280px) {
  .header__top.darkpage .header__lower-title {
    font-size: 38px;
}
  .swiper {
    max-width: 850px;
  }
  .swiper-button-prev {
    left: 65px;
    width: 40px;
    height: 90px;
  }
  .swiper-button-next {
    right: 65px;
    width: 40px;
    height: 90px;
  }
}

@media (max-width: 1160px) {
  .swiper-button-next {
    right: 25px;
    width: 40px;
    height: 90px;
  }
  .swiper-button-prev {
    left: 25px;
    width: 40px;
    height: 90px;
  }
}





@media(max-width: 1024px) {
  .header__top.darkpage .header__lower-title {
    font-size: 30px;
}
  .swiper {
    max-width: 650px;
  }
}


@media(max-width: 800px) {
  .header__top.darkpage .header__lower-title {
    max-width: 400px;
  }
  .swiper {
    width: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}


@media(max-width: 640px) {
  .elegance__inner {
    max-height: 530px;
    position: relative;
}
  .swiper-wrapper img {
    max-height: 500px;
}
}


@media(max-width: 480px) {
  .header__top.darkpage .header__lower-title {
    font-size: 28px;
}

  .elegance__inner {
    max-height: 350px;
    position: relative;
}
  .swiper-wrapper img {
    max-height: 320;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}
.swiper-pagination-bullet {
  width: 50px;
}
}



.partitions__section .container {
  margin-top: 100px;

  .partitions__inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 65px;
    height: auto;
  }
  .partitions__line {
    max-width: 190px;
    width: 100%;
    height: 1px;
    margin-left: 0;
    margin-bottom: 45px;
    margin-top: 40px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
  }
  .partitions__title {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
  }

  .partitions__subtitle {
    color: #fff;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 606px;
  }

  .partitions__descr {
    max-width: 605px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}




@media(max-width: 1480px) {
  .partitions__section .container .partitions__subtitle {
    font-size: 24px;
  }
  .partitions__section .container .partitions__descr {
    font-size: 20px;
  }
  
}



@media(max-width: 1280px) {
  .partitions__section .container .partitions__subtitle {
    font-size: 20px;
    max-width: 400px;
  }
  .partitions__section .container .partitions__descr {
    font-size: 16px;
    max-width: 450px;
  }
  .partitions__item1 img {
    width: 100%;
    max-height: 380px;
  }
}


@media(max-width: 1024px) {
  .partitions__section .container .partitions__subtitle {
    font-size: 20px;
    max-width: 350px;
  }
  .partitions__item1 img {
    width: 100%;
    max-height: 350px;
  }
  .partitions__section .container .partitions__inner {
    gap: 40px;
  }
}


@media(max-width: 800px) {
  .partitions__section .container {
    margin-top: 80px;
}
  .partitions__section .container .partitions__descr {
    font-size: 16px;
    max-width: 300px;
  }
}


@media(max-width: 640px) {
  .partitions__section .container {
    margin-top: 70px;
}
.partitions__section .container .partitions__inner {
  gap: 20px;
  align-items: center;
}
.partitions__section .container .partitions__line {
  margin-top: 0;
  margin-bottom: 15px;
}
.partitions__section .container .partitions__subtitle {
  font-size: 18px;
  max-width: 200px;
}
.partitions__section .container .partitions__descr {
  font-size: 16px;
  max-width: 200px;
}
}


@media(max-width: 480px) {
  .partitions__section .container {
    margin-top: 60px;
}
  .partitions__section .container .partitions__inner {
    flex-direction: column;
  }
  .partitions__item1 {
    order: 2;
  }
  .partitions__section .container .partitions__line {
    margin: 0 auto;   
    margin-top: 40px;
    margin-bottom: 25px; 
  }
  .partitions__section .container .partitions__subtitle {
    font-weight: 500;
    width: auto !important;
    text-align: center;
  }
  .partitions__section .container .partitions__descr {
    width: auto !important;
    text-align: center;
    margin: 0 auto;
  }
  
}




.section2 {
  margin-bottom: 125px;
  margin-top: 0;
}

.project__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 65px;
  height: auto;
}

.partitions__descr-li {
  color: rgba(255, 255, 255, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 523px;
  margin-top: 45px;

  .partitions__ul {
    list-style: disc;
    margin-left: 35px;
  }
}

.partitions-object {
  position: relative;
  max-width: 493px;
  max-height: 648px;
}

.partitions__right .img-object {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partitions__right {
  &::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -30px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #353535;
    z-index: -1;
  }
}



@media(max-width: 1480px) {
  .section2 {
    margin-bottom: 100px;
    margin-top: 80px;
  }
  .project__inner {
    align-items: center;
  }
  .partitions__section .container .partitions__title {
    font-size: 33px;
  }
  .partitions__descr-li {
    font-size: 18px;
  }
  .partitions__right .img-object {
    height: 430px;
  }
}



@media(max-width: 1280px) {
  .project__inner {
    gap: 40px;
  }
  .partitions__section .container .partitions__title {
    font-size: 30px;
  }
  .partitions__descr-li {
    font-size: 16px;
  }
  .partitions-right {
    width: 100%;
    
  }
  .partitions__right::after {
    left: -30px;
    bottom: -30px;
  }
}


@media(max-width: 1024px) {
  .section2 .container {
    margin-top: 80px;
  }
  .partitions__section .container .partitions__title {
    font-size: 28px;
  }
  .project__inner {
    gap: 30px;
  }
  .partitions__left {
    padding-right: 15px;
  }
  .partitions__descr-li {
    margin-top: 20px;
  }
  .partitions-li {
    font: initial;
    padding-top: 10px;
  }
}


@media(max-width: 800px) {
  .section2 .container {
    margin-top: 60px;
  }
}


@media(max-width: 640px) {
  .project__inner {
    grid-template-columns: 1fr;
  }
  .partitions__section .container .partitions__line {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .partitions__section .container .partitions__title {
    font-size: 25px;
    text-align: center;
}
  .partitions__section .container .partitions__subtitle {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20;
    margin-top: 25px;
}
  .partitions__section .container .partitions__descr {
  max-width: 450px;
  text-align: center;
}

}


@media(max-width: 480px) {
  .partitions__section .container {
    margin-top: 40;
}

.partitions__descr-li {
  margin-bottom: 25px;
}
.partitions__right .img-object {
  height: 300px;
}
.partitions__right::after {
  top: -15px;
  left: -15px;
}
}





.application__section {
  background: #e3e3e3 url(../img/project/Star.svg) right center no-repeat;
  background-size: contain;
  height: 600px;

  .application__inner {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .application__line {
    width: 190px;
    height: 0px;
    background: rgba(37, 37, 37, 0.5);
    margin-left: 0;
  }
  .application__title {
    color: #252525;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 606px;
    margin-top: 50px;
  }
  .application__descr {
    color: rgba(37, 37, 37, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 606px;
    margin-top: 25px;
  }
}

.application__block {
  display: flex;
  flex-direction: column;
}

.wpcf7-form {
  display: grid;
  flex-direction: row;
  gap: 30px;
  grid-template-columns: 1fr 1fr 2fr;
}

.wpcf7-form > p span > input {
  width: 100%;
  margin-top: 5px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 2px rgba(37, 37, 37, 0.3);
  background: #f0f0f0;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-font-dark-tr);
  transition: all 0.3s linear;
}

.wpcf7-form-control-wrap .popup__form-inputs-name {
  max-width: 322px !important;
}

.application__block .popup__call-form-submit {
  display: flex;
  width: 220px;
  height: 43px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-left: 0;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: #252525;
}

.popup__form-inputs-name,
.wpcf7-form .popup__form-inputs-name {
  max-width: 322px !important;
}

.popup__form-inputs-phone,
.wpcf7-form .popup__form-inputs-phone {
  max-width: 311px !important;
}

.popup__form-inputs-email,
.wpcf7-form .popup__form-inputs-email {
  max-width: 555px !important;
}

@media(max-width: 1480px) {
  .application__section {
    height: 500px;
  }
  .application__section .application__title {
    font-size: 38px;
  }
  .application__section .application__descr {
    font-size: 22px;
  } 
  .wpcf7-form {
    width: 955px;
  }
  .wpcf7-form > p {
    width: 300px;
    max-width: 900px;
  }
  .application__block .popup__call-form-submit {
    width: 200px;
    height: 40px;
  }
}



@media(max-width: 1280px) {
  .application__section .application__title {
    font-size: 33px;
  }
  .application__section .application__descr {
    font-size: 20px;
  } 
  .wpcf7-form > p {
    width: 250px;
    max-width: 800px;
  }
  .application__block .popup__call-form-submit {
    width: 190px;
    font-size: 16px;
  }
  .wpcf7-form {
    width: 800px;
  }
}


@media(max-width: 1024px) {
  .application__section {
    height: 450px;
  }
  .application__section .application__title {
    font-size: 30px;
  }
  .application__section .application__descr {
    font-size: 16px;
    max-width: 400px;
    }
  .wpcf7-form {
      width: 565px;
    }
  .wpcf7-form > p {
    width: 200px;
    max-width: 600px;
  }
  .application__block .popup__call-form-submit {
    width: 170px;
    height: 35px;
  }
}


@media(max-width: 800px) {
  .application__section {
    height: 450px;
  }
  .application__section .application__title {
    font-size: 28px;
  }
  .application__section .application__descr {
    font-size: 16px;
    max-width: 400px;
  }
  .wpcf7-form > p {
    width: 170px;
  }
  .application__block .popup__call-form-submit {
    width: 170px;
    height: 35px;
  }
}


@media(max-width: 640px) {
  .application__section {
    height: 400px;
  }
  .application__section .application__title {
    font-size: 25px;
  }
  .application__section .application__descr {
    font-size: 16px;
    max-width: 300px;
  }
  .wpcf7-form {
    width: 410px;
  }
  .wpcf7-form > p {
    width: 120px;
  }
  .application__block .popup__call-form-submit {
    width: 130px;
    height: 35px;
    font-size: 14px;
  }
}


@media(max-width: 480px) {
  .application__section {
    height: 580px;
}
  .application__section .application__line {
    margin: 0 auto;
  }
  .application__section .application__inner {
    justify-content: center;
  }
  .application__section .application__title {
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
  }
  .application__section .application__descr {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
  }
  .wpcf7-form {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .wpcf7-form > p {
    width: 200px;
  }
  .application__block .popup__call-form-submit {
    width: 200px;
    height: 35px;
    font-size: 15px;
  }
}

