#panel {
  background: #2b2b2b;
}

.line-default {
  width: 192px;
  background: rgba(255, 255, 255, 0.5);
}

.production__line {
  margin-top: 150px;
  margin-left: 0;
}

.default-descr {
  color: rgba(255, 255, 255, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.production__section {
  margin-top: 94px;
  margin-bottom: 100px;
}

.container__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.production__descr {
  width: 606px;
  margin-top: 25px;
}

.production__subtitle {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 232px;
}

.footer__top-btn {
  display: flex;
  width: 220px;
  height: 43px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  margin-right: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}

.production__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.production__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  background: #343434;
  padding-top: 30px;
  transition: all .3s ease-out;
  overflow: hidden;
}
.production__item:hover {
  background: #424242;
  transform: scale(1.01);
  box-shadow: 0px 4px 12px 0px rgba(37, 37, 37, 0.5);
}
.production__item > img {
  transition: all .3s ease-out;
}
.production__item:hover > img{
  transform: translateY(25px);
}
.bottom__line {
  width: 100%;
  margin-top: 150px;
}

@media (max-width: 1480px) {

  .header__lower-title {
    font-size: 58px;
  }

  .container {
    max-width: 1050px;
    margin: 0 auto;
  }

  .production__items {
    gap: 20px !important;
  }
  .default-descr {
    font-size: 18px;
    max-width: 505px;
    margin-bottom: 40px;
  }

  .production__item {
    height: 350px;
    overflow: hidden;
  }

  .item4 img {
    width: 80%;
  }
}


@media (max-width: 1300px) {
  .header__top.darkpage .header__top-lower {
    margin-left: 50px;
  }  
}

@media (max-width: 1250px) {
  .production__subtitle {
    font-size: 25px;    
  }
  .production__line {
    margin-top: 100px;
  }
  .container__top {
    margin-bottom: 30px;
      }
  .production__section {
    margin-bottom: 80px;
  }
}

@media (max-width: 1150px) {
  .production__section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .production__inner {
    margin: 0 25px;
  }
  
  .line-default {
    width: 100px;
    margin-top: 50px;    
  }

  .container__top {
    margin-bottom: 0px;
      }

  .production__subtitle {
    font-size: 24px;
    width: 90%;
  }
  
  .production__item {
    padding-top: 20px;
    height: 340px;
  }

  .production__item img {
    width: 80%;
  }

  .production__link {
    width: 100%;
  }

  .item4 img {
    height: 290px;
  }

  .footer__top-btn {
    width: 170px;
    height: 35px;
    font-size: 16px;
  }
}

@media (max-width: 950px) {
 .header__lower-title {
    font-size: 48px;
    
  }

  .production__section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .production__line {
    margin-top: 0;
    margin-left: 0;
  }

  .line-default {
    width: 100px;
  }

  .default-descr {
    font-size: 15px;
    max-width: 350px;
    margin-bottom: 10px;
  }

  .container__top {
    margin-bottom: 20px;
    margin-right: 7px;
  }

  .production__subtitle {
    font-size: 16px;
    width: 80%;
  }

  .production__items {
    gap: 10px;
    justify-items: center;
  }

  .production__item {
    padding-top: 15px;
    height: 230px;
  }

  .production__item img {
    width: 75%;
  }

  .production__link {
    width: 160px;
  }

  .footer__top-btn {
    width: 200px;
    height: 35px;
    font-size: 16px;
  }
}


@media (max-width: 768px) {

  .header__top.darkpage .header__top-lower {
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .header__top.darkpage .header__lower-text {
    align-items: center;
  }

  .production__section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .production__line {
    margin-top: 0;
    margin-left: 0;
  }

  .line-default {
    width: 100px;
  }

  .default-descr {
    font-size: 17px;
    max-width: 330px;
    margin-bottom: 0px;
}

.production__descr {
  width: 606px;
  margin-top: 5px;
}

  .container__top {
    margin-bottom: 20px;
    margin-right: 7px;
  }

  .production__subtitle {
    font-size: 22px;
    width: 55%;
  }
  h3 {
    margin-bottom: 10px;
  }

  .production__items {
    gap: 30px !important;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .production__item {
    padding-top: 15px;
    height: 340px;
    max-width: 550px;
}

  .production__item img {
    width: 70%;
  }

  .production__link {
    width: 100%;
  }

  .footer__top-btn {
    width: 120px;
    height: 25px;
    font-size: 13px;
    margin-right: 0px;
}
}


@media (max-width: 640px) {
  .header__top.darkpage .header__lower-title {
    font-size: 48px;    
  }

  .production__section {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .container {  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
  }
  
  .production__inner {    
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;  
  }

  .container__top {
    margin-bottom: 20px;
    margin-right: 7px;
    gap: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .production__line {
    margin-top: 0;    
    margin: 0 auto;
  }

  
  .default-descr {
    font-size: 17px;
    max-width: 330px;
    margin-bottom: 0px;
    margin-top: 15px;
    text-align: center;
}

 

  .production__subtitle {
    font-size: 22px;
    width: 55%;
  }

 
  .production__items {
    gap: 30px !important;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }

  .production__item {
    padding-top: 15px;
    height: 340px;
    max-width: 550px;
}

  .production__item img {
    width: 70%;
  }

  .production__link {
    width: 100%;
  }

  .footer__top-btn {
    width: 120px;
    height: 25px;
    font-size: 13px;
    margin: 0 auto; 
      
  }
}



@media (max-width: 480px) {

.header__lower-title {
  font-size: 35px;  
}

.default-descr {
  font-size: 15px;
  max-width: 230px;
  text-align: center;
}

.production__item {
  height: 300px;
  max-width: 250px;
}

.production__subtitle {
  font-size: 20px;
  width: 65%;
}

.production__item img {
  width: 60%;
}
}


@media (max-width: 320px) {

.header__lower-title {
  font-size: 35px;  
}

.default-descr {
  font-size: 15px;
  max-width: 230px;
  text-align: center;
}

.production__item {
  height: 300px;
  max-width: 250px;
}

.production__subtitle {
  font-size: 20px;
  width: 65%;
}

.production__item img {
  width: 60%;
}

 
 
  
