#panel {
  background: #2b2b2b;
}

.advantages__line {
  border: none;
  max-width: 190px;
  margin: 75 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.advantages__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.advantages__descr {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__item-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.advantages__item-icon > img {
  max-width: 89px;
  max-height: 89px;
}

.advantages__item-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.advantages__item-descr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1050px;
    margin: 0 auto;
  }

  .advantages__title {
    font-size: 38px !important;
  }

  .advantages__descr {
    font-size: 18px;
    max-width: 505px;
    margin-bottom: 50px;
  }

  .advantages__items {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .advantages__item-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
  }

  .advantages__item-icon > img {
    max-width: 59px;
    max-height: 59px;
  }

  .advantages__item-title {
    font-size: 22px;
  }

  .advantages__item-descr {
    font-size: 16px;
  }
}

.popular__inner {
  position: relative;
}

.popular__line {
  border: none;
  max-width: 190px;
  margin: 100 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.popular__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 75px;
}

.popular__item {
  background: #343434;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 625px;
  transition: all 0.3s linear;
}

.popular__item:hover {
  transform: scale(1.015);
}

.popular__item-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  position: relative;
  width: 172px;
  height: 413px;
}

.popular__item-top-cover {
  color: rgba(255, 255, 255, 0.1);
  font-family: Raleway;
  font-size: 70.701px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: rotate(-90deg);
  text-wrap: nowrap;
  position: absolute;
  bottom: 53px;
  left: 150px;
  width: 100%;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  cursor: default;
}

.popular__item-subtitle {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popular__item-title {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.popular__btn {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.popular__btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.popular__items .swiper-wrapper {
  height: fit-content;
}

.swiper-button-prev::after {
  font-family: "icomoon" !important;
  content: "\e900";
  font-size: 50px;
  color: #fff;
}

.swiper-button-next::after {
  font-family: "icomoon" !important;
  content: "\e901";
  font-size: 50px;
  color: #fff;
}

.swiper-button-prev {
  left: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-next {
  right: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-prev:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-prev:hover {
  transform: scale(1.03);
}

.swiper-button-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-next:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-next:hover {
  transform: scale(1.03);
}

.popular__line.line-long {
  max-width: 605px;
  margin: 100px auto 75px auto;
}

@media (max-width: 1480px) {
  .popular__title {
    font-size: 38px !important;
    margin-bottom: 50px;
  }

  .popular__item {
    height: 505px;
  }

  .popular__item-subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .popular__item-title {
    font-size: 22px;
  }

  .popular__btn {
    font-size: 16px;
    padding: 5px 25px;
  }

  .popular__btn:hover {
    transform: scale(1.007);
  }

  .popular__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .popular__item-top {
    width: 152px;
    height: 313px;
  }

  .popular__item-top-cover {
    bottom: 35px;
    left: 120px;
    font-size: 60.701px;
  }

  .swiper-button-next {
    right: -65px;
    width: 40px;
    height: 90px;
  }

  .swiper-button-prev {
    left: -65px;
    width: 40px;
    height: 90px;
  }

  .swiper-button-prev::after {
    font-size: 36px;
  }

  .swiper-button-next::after {
    font-size: 36px;
  }

  .swiper-button-prev::before {
    width: 40px;
  }

  .swiper-button-next::before {
    width: 40px;
  }

  .swiper-button-prev:hover::before {
    height: 90px;
    opacity: 1;
  }

  .swiper-button-next:hover::before {
    height: 90px;
    opacity: 1;
  }

  .popular__line.line-long {
    margin: 75px auto 50px auto;
  }
}

.banner__section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  height: 465px;
}

.banner__section.zamer-section {
  background-image: url(../img/cottage/zamer-banner-img.webp);
}

.banner__section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.banner__descr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 605px;
  margin-bottom: 45px;
}

.banner__btn {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.banner__btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1480px) {
  .banner__title {
    font-size: 38px !important;
  }

  .banner__descr {
    font-size: 18px !important;
    max-width: 490px;
  }
}

.difference__section {
  height: fit-content;
}

.difference__section .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difference__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 225px 0;
}

.difference__line {
  border: none;
  max-width: 190px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.difference__title {
  color: #fff;
  text-align: left;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
  max-width: 600px;
}

.difference__descr {
  max-width: 585px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 45px;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.difference__btn {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  width: fit-content;
  cursor: pointer;
}

.difference__btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.difference__right {
  position: relative;
}

.difference__right > img {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-out;
}

.difference__img-1 {
  opacity: 0;
  top: calc(50% - 40px);
  left: calc(50% + 140px);
  transition-delay: 0.1s;
}

.difference__section.scrolled .difference__img-1 {
  top: calc(50% + 0px);
  left: calc(50% + 100px);
  opacity: 1;
  transition-delay: 0.1s;
}

.difference__img-2 {
  opacity: 0;
  top: calc(50% + 20px);
  left: calc(50% + 90px);
  transition-delay: 0.4s;
}

.difference__section.scrolled .difference__img-2 {
  top: calc(50% + 60px);
  left: calc(50% + 50px);
  opacity: 1;
  transition-delay: 0.4s;
}

.difference__img-3 {
  opacity: 0;
  top: calc(50% + 50px);
  left: calc(50% + 40px);
  transition-delay: 0.7s;
}

.difference__section.scrolled .difference__img-3 {
  top: calc(50% + 90px);
  left: calc(50% + 0px);
  opacity: 1;
  transition-delay: 0.7s;
}

.difference__img-4 {
  opacity: 0;
  top: calc(50% + 80px);
  left: calc(50% - 10px);
  transition-delay: 1s;
}

.difference__section.scrolled .difference__img-4 {
  top: calc(50% + 120px);
  left: calc(50% - 50px);
  opacity: 1;
  transition-delay: 1s;
}

.difference__img-5 {
  opacity: 0;
  top: calc(50% + 70px);
  left: calc(50% - 60px);
  transition-delay: 1.3s;
}

.difference__section.scrolled .difference__img-5 {
  top: calc(50% + 110px);
  left: calc(50% - 100px);
  opacity: 1;
  transition-delay: 1.3s;
}

@media (max-width: 1480px) {
  .difference__section {
    height: 100vh;
  }

  .difference__inner {
    padding: 0;
  }

  .difference__title {
    font-size: 38px !important;
  }

  .difference__descr {
    font-size: 18px;
    line-height: 24px;
  }
}

.materials__section {
  background: #e3e3e3;
  height: 850px;
  overflow: hidden;
}

.materials__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-row-span: 30px;
  height: 100%;
}

.materials__left {
  position: relative;
}

.materials__left > img {
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.5s ease-out;
  opacity: 0;
}

.materials__img-1 {
  left: calc(50% + 60px);
  bottom: -100px;
}

.materials__section.scrolled .materials__img-1 {
  left: calc(50% - 30px);
  bottom: 0;
  transition-delay: 0.1s;
  opacity: 1;
}

.materials__img-2 {
  left: calc(50% + 130px);
  bottom: -80px;
}

.materials__section.scrolled .materials__img-2 {
  left: calc(50% + 60px);
  bottom: 0;
  transition-delay: 0.3s;
  opacity: 1;
}

.materials__img-3 {
  left: calc(50% + 200px);
  bottom: -60px;
}

.materials__section.scrolled .materials__img-3 {
  left: calc(50% + 150px);
  bottom: 0;
  transition-delay: 0.5s;
  opacity: 1;
}

.materials__img-4 {
  left: calc(50% + 270px);
  bottom: -40px;
}

.materials__section.scrolled .materials__img-4 {
  left: calc(50% + 240px);
  bottom: 0;
  transition-delay: 0.7s;
  opacity: 1;
}

.materials__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.materials__line {
  border: none;
  max-width: 190px;
  width: 100%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 0;
  background: rgba(37, 37, 37, 0.5);
  color: rgba(37, 37, 37, 0.5);
  height: 1px;
}

.materials__title {
  color: #252525;
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
  max-width: 540px;
  margin-right: 0;
  margin-left: auto;
}

.materials__descr {
  max-width: 555px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 75px;
  color: rgba(37, 37, 37, 0.5);
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.materials__btn {
  color: #252525;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(37, 37, 37, 0.5);
  transition: all 0.3s ease-out;
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 1480px) {
  .materials__section {
    height: 100vh;
  }
  .materials__title {
    font-size: 38px !important;
  }

  .materials__descr {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 45px;
    max-width: 500px;
  }
  .materials__section.scrolled .materials__img-1 {
    max-height: 500px;
  }
  .materials__section.scrolled .materials__img-2 {
    max-height: 440px;
  }
  .materials__section.scrolled .materials__img-3 {
    max-height: 380px;
  }
  .materials__section.scrolled .materials__img-4 {
    max-height: 320px;
  }
}

.catalogue__line {
  border: none;
  max-width: 190px;
  margin: 100 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.catalogue__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.catalogue__descr {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalogue__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 30px;
}

.catalogue__item {
  background: #343434;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 625px;
  transition: all 0.3s ease-out;
}
.catalogue__item.unfinished {
  pointer-events: none;
  opacity: 0.25;
}
.catalogue__item:hover {
  transform: scale(1.015);
}

.catalogue__item-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  position: relative;
  width: 172px;
  height: 413px;
}

.catalogue__item-top-cover {
  color: rgba(255, 255, 255, 0.1);
  font-family: Raleway;
  font-size: 70.701px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: rotate(-90deg);
  text-wrap: nowrap;
  position: absolute;
  bottom: 53px;
  left: 150px;
  width: 100%;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  cursor: default;
}

.catalogue__item-subtitle {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.catalogue__item-title {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.catalogue__btn {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.catalogue__btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.catalogue__line.long-line {
  border: none;
  max-width: 605px;
  margin: 100 auto 75 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}
@media (max-width: 1480px) {
  .catalogue__title {
    font-size: 38px !important;
  }

  .catalogue__descr {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
    max-width: 500px;
  }

  .catalogue__item {
    height: 505px;
  }

  .catalogue__item-subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .catalogue__item-title {
    font-size: 22px;
  }

  .catalogue__btn {
    font-size: 16px;
    padding: 5px 25px;
  }

  .catalogue__btn:hover {
    transform: scale(1.007);
  }

  .catalogue__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .catalogue__item-top {
    width: 152px;
    height: 313px;
  }

  .catalogue__item-top-cover {
    bottom: 45px;
    left: 120px;
    font-size: 50px;
  }
}

.reviews__section {
  background: #e3e3e3;
  height: 850px;
  position: relative;
  overflow: hidden;
}

.reviews__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  height: 100%;
}

.reviews__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.reviews__line {
  border: none;
  width: 100%;
  max-width: 190px;
  margin-left: 0;
  margin-bottom: 50px;
  background: rgba(37, 37, 37, 0.5);
  color: rgba(37, 37, 37, 0.5);
  height: 1px;
}

.reviews__title {
  color: #252525;
  text-align: left;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
  max-width: 540px;
  margin-right: auto;
  margin-left: 0;
}

.reviews__descr {
  max-width: 550px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 75px;
  color: rgba(37, 37, 37, 0.5);
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.reviews__btn {
  color: #252525;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(37, 37, 37, 0.5);
  transition: all 0.3s ease-out;
  width: fit-content;
  cursor: pointer;
}

.reviews__btn:hover {
  background: rgba(37, 37, 37, 0.1);
}

.reviews__right > div > div {
  background: #d9d9d9;
  width: 311.333px;
  height: 127.248px;
  position: absolute;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.reviews__section.scrolled .reviews__line-1 > div {
  opacity: 1;
}

.reviews__line-1 > div {
  top: 45px;
}

.reviews__line-item-1-1 {
  left: calc(50% - 120px);
  transition-delay: 0.1s;
}

.reviews__section.scrolled .reviews__line-item-1-1 {
  left: calc(50% - 170px);
  transition-delay: 0.2s;
}

.reviews__line-item-1-2 {
  left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-1-2 {
  left: calc(50% + 170px);
  transition-delay: 0.3s;
}

.reviews__line-item-1-3 {
  left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-1-3 {
  left: calc(50% + 510px);
  transition-delay: 0.4s;
}

.reviews__line-item-1-4 {
  left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-1-4 {
  left: calc(50% + 850px);
  transition-delay: 0.5s;
}

.reviews__line-2 > div {
  top: 205px;
}

.reviews__section.scrolled .reviews__line-2 > div {
  opacity: 1;
}

.reviews__line-item-2-1 {
  left: calc(50% + 40px);
}

.reviews__section.scrolled .reviews__line-item-2-1 {
  left: calc(50% - 10px);
  transition-delay: 0.4s;
}

.reviews__line-item-2-2 {
  left: calc(50% + 380px);
}

.reviews__section.scrolled .reviews__line-item-2-2 {
  left: calc(50% + 330px);
  transition-delay: 0.5s;
}

.reviews__line-item-2-3 {
  left: calc(50% + 720px);
}

.reviews__section.scrolled .reviews__line-item-2-3 {
  left: calc(50% + 670px);
  transition-delay: 0.6s;
}

.reviews__line-item-2-4 {
  left: calc(50% + 1060px);
}

.reviews__section.scrolled .reviews__line-item-2-4 {
  left: calc(50% + 1010px);
  transition-delay: 0.7s;
}

.reviews__line-3 > div {
  top: 365px;
}

.reviews__section.scrolled .reviews__line-3 > div {
  opacity: 1;
}

.reviews__line-item-3-1 {
  left: calc(50% + 110px);
  width: 80px !important;
}

.reviews__section.scrolled .reviews__line-item-3-1 {
  left: calc(50% + 60px);
  transition-delay: 0.2s;
}

.reviews__line-item-3-2 {
  left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-3-2 {
  left: calc(50% + 170px);
  transition-delay: 0.3s;
}

.reviews__line-item-3-3 {
  left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-3-3 {
  left: calc(50% + 510px);
  transition-delay: 0.4s;
}

.reviews__line-item-3-4 {
  left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-3-4 {
  left: calc(50% + 850px);
  transition-delay: 0.5s;
}

.reviews__line-4 > div {
  top: 520px;
}

.reviews__section.scrolled .reviews__line-4 > div {
  opacity: 1;
}

.reviews__line-item-4-1 {
  left: calc(50% + 40px);
}

.reviews__section.scrolled .reviews__line-item-4-1 {
  left: calc(50% - 10px);
  transition-delay: 0.4s;
}

.reviews__line-item-4-2 {
  left: calc(50% + 380px);
}

.reviews__section.scrolled .reviews__line-item-4-2 {
  left: calc(50% + 330px);
  transition-delay: 0.5s;
}

.reviews__line-item-4-3 {
  left: calc(50% + 720px);
}

.reviews__section.scrolled .reviews__line-item-4-3 {
  left: calc(50% + 670px);
  transition-delay: 0.6s;
}

.reviews__line-item-4-4 {
  left: calc(50% + 1060px);
}

.reviews__section.scrolled .reviews__line-item-4-4 {
  left: calc(50% + 1010px);
  transition-delay: 0.7s;
}

.reviews__line-5 > div {
  top: 675px;
}

.reviews__section.scrolled .reviews__line-5 > div {
  opacity: 1;
}

.reviews__line-item-5-1 {
  left: calc(50% - 120px);
}

.reviews__section.scrolled .reviews__line-item-5-1 {
  left: calc(50% - 170px);
  transition-delay: 0.2s;
}

.reviews__line-item-5-2 {
  left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-5-2 {
  left: calc(50% + 170px);
  transition-delay: 0.3s;
}

.reviews__line-item-5-3 {
  left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-5-3 {
  left: calc(50% + 510px);
  transition-delay: 0.4s;
}

.reviews__line-item-5-4 {
  left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-5-4 {
  left: calc(50% + 850px);
  transition-delay: 0.5s;
}

.reviews__line-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 7px;
}

.reviews__line-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(127, 127, 127, 0.5);
}

.reviews__line-name {
  color: rgba(37, 37, 37, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reviews__line-bottom {
  color: rgba(37, 37, 37, 0.3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 1480px) {
  .reviews__title {
    font-size: 38px !important;
  }

  .reviews__descr {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
    max-width: 500px;
  }
}
