#panel {
  background: #2b2b2b;
}

.dealers__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 100px;
}

.line-default {
  width: 192px;
  background: rgba(255, 255, 255, 0.5);
}

.line {
  margin-top: 56px;
  margin-left: 0;
}

.default-title {
  color: #fff;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 50px;
  padding-bottom: 25px;
}

.default-descr {
  color: rgba(255, 255, 255, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dealers__descr {
  padding-bottom: 25px;
}

.dealers__btn {
  color: #fff;
  text-align: right;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.dealers__btn:hover {
  background: rgba(255, 255, 255, 0.15);
}
.production__section {
  margin-top: 94px;
}

.production__title {
  text-align: center;
}

.production__descr {
  width: 606px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.production__subtitle {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 232px;
}

.production__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.production__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  background: #343434;
  padding-top: 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  overflow: hidden;
}
.production__item:hover {
  background: #424242;
  transform: scale(1.01);
  box-shadow: 0px 4px 12px 0px rgba(37, 37, 37, 0.5);
}
.production__item > img {
  transition: all 0.3s ease-out;
}
.production__item:hover > img {
  transform: translateY(25px);
}
.item3 {
  grid-column: 3 / 5;
}

.item5 {
  grid-column: 2 / 4;
}

.advantages__section {
  margin-top: 100px;
}

.advantages__line {
  margin-left: 0;
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 75px;
}

.advantages__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.advantages__item img {
  width: 89px;
  height: 89px;
}

.advantages__img {
  border-radius: 120px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.advantages__title {
  color: #fff;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 726px;
}

.advantages__subtitle {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 297px;
  margin-bottom: 15px;
}

.advantages__descr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 265px;
}

.conditions__section {
  margin-top: 100px;
}

.conditions__items {
  background: #343434;
  width: 1248px;
  height: 730px;
  margin-top: 40px;
  margin-bottom: 100px;
}
.conditions__items > div {
  padding-left: 25px;
}

.conditions__title {
  text-align: center;
}

.conditions__descr {
  text-align: center;
}
.conditions__item-top {
  color: rgba(255, 255, 255, 0.50);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
max-width: 795px;
margin: 50px auto 25px 45px;
padding-top: 40px;
padding-right: 50px;
}
.conditions__item-bottom {
  color: rgba(255, 255, 255, 0.50);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 130% */
margin: auto auto 22px 45px;
}
.conditions__criterion {
  color: rgba(255, 255, 255, 0.50);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 130% */
max-width: 865px;
margin-left: 50px;
}
.conditions__criterion div {
  font-weight: 600;
}
.conditions__criterion li {
  list-style-type: decimal;
  margin: 15px auto;
  
}


.contacts__section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contacts__title {
  text-align: center;
}

.contacts__descr {
  text-align: center;
}

.contacts__items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 100px;
}

.contacts__subtitle {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-bottom {
  height: 195px;
}

.contacts__input {
  width: 822px;
  background: #343434;
}

.contacts__input .popup__form-inputs-day,
.contacts__input .popup__form-inputs-hours,
.contacts__input .popup__form-inputs-name,
.contacts__input .popup__form-inputs-phone,
.contacts__input .popup__form-inputs-message {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: #343434;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.35);
  color: #fff;
  font-family: "Raleway";
  font-size: 18px;
  max-width: 100% !important;
  padding: 12px 25px;
}
.contacts__input .popup__form-inputs-day:focus,
.contacts__input .popup__form-inputs-hours:focus,
.contacts__input .popup__form-inputs-name:focus,
.contacts__input .popup__form-inputs-phone:focus,
.contacts__input .popup__form-inputs-message:focus {
  outline: none !important;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.35) !important;
  background: #565656;
}
.contacts__input .popup__form-inputs-day::placeholder,
.contacts__input .popup__form-inputs-hours::placeholder,
.contacts__input .popup__form-inputs-name::placeholder,
.contacts__input .popup__form-inputs-phone::placeholder,
.contacts__input .popup__form-inputs-message::placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.contacts__input .popup__form-inputs-day,
.contacts__input .popup__form-inputs-hours {
  margin-top: 8px;
}
.contacts__input .popup__form-inputs-message {
  resize: none !important;
  width: 100%;
  height: 195px;
}
.contacts__input .popup__form-inputs-date {
  max-width: 100%;
  width: 722px;
  gap: 30px;
  margin-top: 0;
}
.contacts__input p {
  max-width: 100% !important;
  width: 100%;
}
.contacts__input br {
  display: none;
}
.contacts__input .wpcf7-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  padding-bottom: 35px;
}
.contacts__input .popup__form-inputs-date > p > label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.contacts__info {
  width: 400px;
  background: #343434;
  padding: 45px 30px;
  padding-bottom: 35px;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__map iframe {
  margin-top: 40px;
  filter: grayscale(1);
  transition: all 0.3s linear;
  width: 100%;
}

.contacts__map iframe:hover {
  filter: none;
  transform: scale3d(1.01, 1.01, 1.01);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.contacts__icon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
}

.subtitle-default {
  color: #fff;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contacts__subtitle1 {
  text-align: center;
}

.contacts__subtitle2 {
  margin-bottom: 33px;
}

.contacts__img {
  opacity: 0.5;
}

.contacts__element {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 25px;
  }
  

  .default-title {
    font-size: 33px;
  }
  .default-descr {
    max-width: 500px;
    font-size: 18px;
  }
  .dealers__btn {
    font-size: 16px;
    padding: 7px 25px;
  }
  .production__subtitle {
    font-size: 24px;
    max-width: 220px;
  }
  .production__item {
    height: 420px;
  }
  .advantages__title {
    font-size: 33px;
  }
  .advantages__items {
    width: 100%;
  }
  .advantages__item {
    width: 100%;
    justify-content: flex-start;
  }
  .advantages__img {
    height: 130px;
    width: 130px;
  }
  .advantages__item img {
    width: 70px;
    height: 70px;
  }
  .advantages__subtitle {
    width: 100%;
    font-size: 21px;
  }
  .advantages__descr {
    width: 106%;
    font-size: 18px;
  }
  .advantages__descr-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  }
  .conditions__items {
    width: 100%;
  }
  .conditions__descr {
    margin: 0 auto;
  }
  .contacts__descr {
    margin: 0 auto;
  }
  .contacts__items {
    width: 100%;
  }
  .contacts__input .wpcf7-form {
    width: 100%;
  }
  .contacts__input {
    width: 100%;
  }
  .contacts__info {
    width: 100%;
  }
  .contacts__input .popup__form-inputs-date {
    width: 100%;
  }
  .footer .container {
    max-width: 1150px !important;
  }
}

@media (max-width: 1280px) {
  
  .header__top.darkpage .header__lower-title {
    font-size: 40px;
  }
  .container {
    width: 100%;
    padding: 0 25px;
  }
  .dealers__section {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .dealers__inner {
    margin-top: 0;
    justify-items: center;
    align-items: center;
    gap: 15px;
  }
  .default-title {
    font-size: 30px;
    padding-top: 40px;
  }
  .default-descr {
    font-size: 16px;
    max-width: 450px;
  }
  .dealers-img img {
    width: 100%;
  }
  .production__section {
    margin-top: 70px;
  }
  .production__subtitle {
    font-size: 20px;
    max-width: 180px;
  }
  .item5 .production__subtitle {
    max-width: 170px;
  }
  .item6 .production__subtitle {
    max-width: 130px;
  }
  .production__item {
    height: 320px;
  }

  .production__item img {
    width: 80%;
  }

  .advantages__section {
    margin-top: 70px;
}
.advantages__item img {
  width: 60px;
  height: 60px;
}
.advantages__img {
  height: 110px;
  width: 110px;
  margin-bottom: 20px;
}
.advantages__subtitle {
  width: 100%;
  font-size: 18px;
}
.advantages__descr {
  width: 100%;
  font-size: 16px;
}
.advantages__descr-top {
  height: 115px;
}
  .conditions__section {
    margin-top: 70px;
  }
  .conditions__items {
    height: 700px;
    margin-bottom: 70px;
  }
  .conditions__item-top {
    font-size: 16px;
    margin-top: 30px;
  }
  .conditions__item-bottom {
    font-size: 16px;
  }
  .conditions__criterion {
    font-size: 16px;
    margin-left: 45px;
  }

  .contacts__section {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .contacts__items {
    margin-top: 40px;
  }
  .contacts__input .popup__form-inputs-day, .contacts__input .popup__form-inputs-hours, .contacts__input .popup__form-inputs-name, .contacts__input .popup__form-inputs-phone, .contacts__input .popup__form-inputs-message {
    font-size: 16px;
    padding: 8px 25px;
  }

  
  .contacts__inner iframe {
    max-height: 350px;
  }

  .contacts__info {
    max-width: 100%;
  }

  .subtitle-default {
    font-size: 25px;
    text-align: center;
  }
  .contacts__icon {
    margin-left: 25px;
  }
  .contacts__element {
    font-size: 17px;
  }

  .contacts__form .popup__form-inputs-day,
  .contacts__form .popup__form-inputs-hours,
  .contacts__form .popup__form-inputs-name,
  .contacts__form .popup__form-inputs-phone,
  .contacts__form .popup__form-inputs-message {
    font-size: 16px;
    padding: 8px 25px;
  }
}

@media (max-width: 1024px) {
 
  .header__top.darkpage .header__lower-title {
    font-size: 35px;
  }
 
  .dealers__section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .line {
    margin-top: 0;
  }
  .dealers__inner {
    margin-top: 0;
    justify-items: center;
    align-items: center;
    gap: 15px;
  }

  .default-title {
    font-size: 28px;
    padding-top: 15px;
  }

  .default-descr {
    font-size: 16px;
    text-align: center;
    max-width: 300px;
    margin-bottom: 50px;
    margin: 0 auto;
  }
  .dealers__descr {
    text-align: left;
  }
  .dealers-img img {
    width: 100%;
  }
  .default-btn {
    font-size: 15px;
    padding: 8px 20px;
  }
  .production__section {
    margin-top: 50px;
  }
  .production__subtitle {
    font-size: 18px;
    max-width: 90%;
    margin-bottom: 15px;
  }
  .item5 .production__subtitle {
    max-width: 150px;
}
.item6 .production__subtitle {
  max-width: 120px;
}
  .production__descr {
    padding-bottom: 30px;
  }
  .production__items {
    gap: 15px;
  }
  .production__item {
    height: 275px;
    padding-top: 15px;
  }

  .production__item img {
    width: 80%;
  }
  .item3 img,
  .item5 img {
    transform: scaleY(1.11);
  }

  .advantages__section {
    margin-top: 50px;
  }
  .advantages__line {
    margin: 0 auto;
  }
  .advantages__title {
    text-align: center;
    width: 100%;
  }
  .advantages__subtitle {
    width: 72%;
    font-size: 20px;
  }
  .advantages__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 60px;
    margin-top: 50;
  }
  .advantages__descr-top {
    justify-content: center;
    align-items: center;
  }
  
  
  .conditions__section {
    margin-top: 80px;
  }
  .conditions__title {
    margin-bottom: 15px;
  }
  .conditions__items {
    margin-bottom: 50px;
    margin-top: 30px;
    height: 725px;
  }
  .conditions__items > div {
    width: auto;
    padding-left: 20px;
    padding-right: 50px;
  }


  .advantages__descr {
    width: 75%;
    font-size: 16px;
  }

  .contacts__section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contacts__inner iframe {
    margin-top: 30px;
    max-height: 220px;
  }
  .contacts__info {
    max-width: 100%;
    padding: 25px 15px;
  }
  .contacts__form {
    padding: 25px 30px;
  }
  .subtitle-default {
    font-size: 23px;
  }
  .contacts__element {
    font-size: 14px;
  }
  .contacts__icon {
    margin-left: 6px;
  }
  .contacts__input .popup__form-inputs-message {
    height: 140px;
  }
  .wpcf7-form :nth-child(6) {
    margin-top: 0;
  }
  .contacts__input .wpcf7-form {
    padding: 35px;
  }
  .contacts__input .popup__form-inputs-day,
  .contacts__input .popup__form-inputs-hours,
  .contacts__input .popup__form-inputs-name,
  .contacts__input .popup__form-inputs-phone,
  .contacts__input .popup__form-inputs-message {
    font-size: 15px;
    padding: 6px 15px;
  }
}

@media (max-width: 800px) {
  .header__top.darkpage .header__top-lower {
    align-items: center;
    padding-left: 0;
  }
  .header__top.darkpage .header__lower-text {
    align-items: center;
  }
  .header__top.darkpage .header__lower-title {
    font-size: 40px;
  }
  .line-default {
    width: 100px;
    margin: 0 auto;
  }
  .dealers__section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .dealers__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .dealers__items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .default-title {
    font-style: 25px;
    width: 70%;
    margin: 0 auto;
  }
  .default-descr {
    text-align: center;
    font-size: 16px;
  }
  .dealers-img img {
    display: block;
    margin: 0 auto;
    height: 350px;
  }
  .production__section {
    margin-top: 40px;
  }
  .production__items {
    gap: 25px;
  }
  .production__subtitle {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 300px;
  }
  .subtitle5 {
    max-width: 38%;
  }
  .item6 .production__subtitle {
    max-width: 142px;
}
.item5 .production__subtitle {
  max-width: 167px;
}
  .production__item img {
    width: 65%;
  }
  .item3 img {
    transform: scaleY(1);
  }
  .item1 {
    grid-column: 1/3;
  }
  .item2 {
    grid-column: 3/5;
  }
  .item3 {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .item5 {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .advantages__items {
    gap: 0;
    row-gap: 60px;
  }


  .conditions__item-top {
    
    
    margin: 35px auto 20px 30px;
    padding-top: 30px;
}
.conditions__item-bottom {
  margin: auto auto 15px 30px;;
}
.conditions__criterion {
  margin-left: 35px;
}

.conditions__items {
  height: auto;

}



  .contacts__items {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .subtitle-default {
    font-size: 20px;
  }
  .contacts__form {
    max-width: 100%;
  }
  .contacts__info {
    max-width: 100%;
    max-height: 510px;
  }
  .contacts__element {
    font-size: 15px;
    margin-right: 45px;
  }
  .contacts__block {
    justify-content: center;
    align-items: center;
  }
  .contacts__inner iframe {
    margin-top: 0;
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .header__top.darkpage .header__lower-title {
    font-size: 38px;
  }
  .dealers__section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.default-btn {
  font-size: 15px;
  padding: 5px 15px;
}
.default-title {
  font-size: 26px;
  width: 100%;
}
.dealers-img img {
  height: 300px;
}
.advantages__title {
  width: 80%;
}
  .advantages__items {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .advantages__img {
    margin-bottom: 0;
  }
  .advantages__subtitle {
    width: 75%;
    margin-bottom: 10px;
  }
  .advantages__descr {
    width: 84%;
  }
  .conditions__items {
    padding-bottom: 20px;
  }
  .conditions__item-bottom {
    width: auto;
    padding-right: 50px;
  }

 
  .conditions__criterion {
    margin-left: 25px;
    
  }
  
  .production__subtitle {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .production__items {
    gap: 15px;
  }
  .production__item {
    height: 220px;
  }
  .production__item img {
    width: 85%;
  }
  .contacts__input .wpcf7-form {
    padding: 15px;
    gap: 15px;
  }
  .contacts__input .popup__form-inputs-day,
  .contacts__input .popup__form-inputs-hours,
  .contacts__input .popup__form-inputs-name,
  .contacts__input .popup__form-inputs-phone,
  .contacts__input .popup__form-inputs-message {
    font-size: 13px;
    padding: 5px 12px;
  }
}


@media (max-width: 480px) {
  .header__top.darkpage .header__top-lower {
    padding: 0;
  }
  .header__top.darkpage .header__lower-title {
    font-size: 28px;
}
.default-title {
  font-size: 22px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
}
.dealers-img img {
  height: auto;
}
.production__subtitle {
  max-width: 130px;
  font-size: 14px;
  margin-bottom: 0;
}
.item6 .production__subtitle {
  max-width: 90px;
}
.advantages__items {
  margin-top: 40px;
}
.advantages__item img {
  width: 55px;
  height: 55px;
}
.advantages__img {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}
.advantages__subtitle {
  font-size: 18px;
}
.conditions__items > div {
  width: auto;
  padding-left: 20px;
  padding-right: 25px;
}
  
}

