#panel {
  background: #2b2b2b;
}

.cooperation__section {
  height: 725px;
  position: relative;
  overflow: hidden;
}

.cooperation__section .container {
  height: 100%;
}

.cooperation__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.cooperation__line {
  max-width: 190px;
  width: 100%;
  height: 1px;
  margin-left: 0;
  margin-bottom: 45px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
}

.cooperation__title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.cooperation__descr {
  max-width: 605px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cooperation__img-cover {
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
}

.cooperation__img-cover-star-1 {
  position: absolute;
  top: 50%;
  left: calc(50% + 950px);
  transform: translate(-50%, -50%);
  animation-name: circleLg;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cooperation__img-cover-star-2 {
  position: absolute;
  bottom: -250px;
  left: calc(50% - 940px);
  transform: translateX(-50%);
  animation-name: circleSm;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circleSm {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(180deg);
  }
}
@keyframes circleLg {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@media (max-width: 1480px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }
  .cooperation__title {
    max-width: 500px;
    font-size: 38px;
  }
  .cooperation__descr {
    max-width: 550px;
  }
  .cooperation__img-cover-star-1 {
    left: calc(50% + 770px);
  }
}
@media (max-width: 1280px) {
  .cooperation__title {
    font-size: 30px;
    max-width: 450px;
  }
  .cooperation__descr {
    font-size: 18px;
    max-width: 440px;
  }
}
@media (max-width: 1024px) {
  .cooperation__img-cover {
    left: 300px;
  }
  .cooperation__img-cover-star-1 {
    left: calc(50% + 601px);
  }
}
@media (max-width: 800px) {
  .cooperation__section {
    height: 550px;
  }
  .cooperation__title {
    font-size: 28px;
  }
  .cooperation__descr {
    max-width: 360px;
  }
  .cooperation__img-cover {
    left: 200px;
  }
  .cooperation__img-cover-star-1 {
    left: calc(50% + 600px);
  }
}
@media (max-width: 640px) {
  .cooperation__section {
    height: 450px;
  }
  .cooperation__title {
    font-size: 24px;
    max-width: 300px;
  }
  .cooperation__descr {
    max-width: 250px;
    font-size: 16px;
  }
  .cooperation__img-cover {
    left: 110px;
  }
  .cooperation__img-cover-star-1 {
    left: calc(50% + 550px);
  }
}
@media (max-width: 480px) {
  .cooperation__section {
    height: 450px;
  }
  .cooperation__inner {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .cooperation__line {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .cooperation__title {
    font-size: 22px;
    max-width: 200px;
    text-align: center;
  }
  .cooperation__descr {
    max-width: 200px;
    text-align: center;
  }
  .cooperation__img-cover {
    top: 66%;
    transform: translateX(-50%);
  }
  .cooperation__img-cover-star-1 {
    top: 600px;
    left: 50%;
    background-size: cover;
    width: 600px;
    height: 600px;
  }
}
.projects__section {
  background: #fff;
  height: 1040px;
}

.projects__section .container {
  height: 100%;
}

.projects__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.projects__line {
  max-width: 190px;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.projects__title {
  color: #252525;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.projects__descr {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: rgba(37, 37, 37, 0.5);
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects__items-inner {
  position: relative;
  max-width: 100%;
}

.projects__item {
  background: #f0f0f0;
  padding: 30px;
}

.projects__item-img {
  width: 100%;
  height: 368px;
  object-fit: cover;
}

.projects__item-text {
  margin-top: 35px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
}

.projects__item-subtitle {
  color: #252525;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.projects__item-title {
  color: #252525;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
  max-width: 95%;
}

.projects__item-btn {
  display: flex;
  padding: 10px 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #252525;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: fit-content;
  border: 1px solid #252525;
  transition: all 0.3s ease-out;
}
.projects__item-btn:hover {
  background: rgba(37, 37, 37, 0.15);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev::after {
  font-family: "icomoon" !important;
  content: "\e900";
  font-size: 50px;
  color: #252525;
}

.swiper-button-next::after {
  font-family: "icomoon" !important;
  content: "\e901";
  font-size: 50px;
  color: #252525;
}

.swiper-button-prev {
  left: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(37, 37, 37, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-next {
  right: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(37, 37, 37, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(37, 37, 37, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-prev:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-prev:hover {
  transform: scale(1.03);
}

.swiper-button-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(37, 37, 37, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-next:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-next:hover {
  transform: scale(1.03);
}

@media (max-width: 1480px) {
  .projects__title {
    font-size: 38px;
  }
  .projects__item-text {
    height: 180px;
  }
  .projects__item-title {
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .projects__section {
    height: 900px;
  }
  .projects__title {
    font-size: 30px;
  }
  .projects__descr {
    font-size: 18px;
    max-width: 500px;
  }
  .swiper {
    max-width: 850px;
  }
  .swiper-wrapper {
    height: 510px;
  }
  .projects__item-img {
    height: 250px;
  }
  .projects__item-title {
    font-size: 20px;
  }
  .swiper-button-next {
    right: -60px;
    width: 40px;
    height: 100px;
    -webkit-tap-highlight-color: transparent;
  }
  .swiper-button-prev {
    left: -60px;
    width: 40px;
    height: 100px;
    -webkit-tap-highlight-color: transparent;
  }
  .swiper-button-prev:hover::before {
    height: 98px;
    width: 39px;
  }
  .swiper-button-next:hover::before {
    height: 98px;
    width: 39px;
  }
}
@media (max-width: 1024px) {
  .projects__section {
    height: 850px;
  }
  .swiper {
    max-width: 650px;
  }
}
@media (max-width: 800px) {
  .projects__section {
    height: 720px;
  }
  .projects__line {
    margin-bottom: 30px;
  }
  .projects__title {
    font-size: 28px;
  }
  .projects__descr {
    max-width: 350px;
  }
  .swiper {
    max-width: 470px;
  }
  .swiper-wrapper {
    height: 390px;
  }
  .projects__item-img {
    height: 180px;
  }
  .projects__item-text {
    margin-top: 15px;
    height: 130px;
  }
  .projects__item-title {
    font-size: 18px;
  }
  .projects__item-btn {
    padding: 5px 30px;
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  .projects__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .projects__descr {
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 480px) {
  .projects__line {
    margin-bottom: 30px;
  }
  .projects__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .projects__descr {
    max-width: 200px;
    margin-bottom: 30px;
  }
}
.advantages__line {
  border: none;
  max-width: 190px;
  margin: 75 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.advantages__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.advantages__descr {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__item-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.advantages__item-icon > img {
  max-width: 89px;
  max-height: 89px;
}

.advantages__item-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.advantages__item-descr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1050px;
    margin: 0 auto;
  }
  .advantages__title {
    font-size: 38px !important;
  }
  .advantages__items {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .advantages__item-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
  }
  .advantages__item-icon > img {
    max-width: 59px;
    max-height: 59px;
  }
  .advantages__item-title {
    font-size: 22px;
  }
  .title-creative {
    max-width: 210px;
  }
  .advantages__item-descr {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  .advantages__title {
    font-size: 30px !important;
  }
  .advantages__descr {
    font-size: 18px;
    max-width: 505px;
    margin-bottom: 50px;
  }
  .advantages__item-title {
    font-size: 20px;
  }
  .title-creative {
    max-width: 190px;
  }
}
@media (max-width: 1024px) {
  .advantages__title {
    font-size: 30px !important;
  }
  .advantages__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    column-gap: 0;
  }
  .advantages__item-title {
    font-size: 20px;
  }
  .title-creative {
    max-width: 190px;
  }
  .advantages__item-descr {
    max-width: 240px;
  }
}
@media (max-width: 800px) {
  .advantages__title {
    font-size: 28px !important;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .advantages__descr {
    font-size: 16px;
    max-width: 350px;
    margin-bottom: 50px;
  }
  .advantages__item-title {
    font-size: 18px;
    max-width: 200px;
  }
  .title-creative {
    max-width: 170px;
  }
  .advantages__item-descr {
    max-width: 240px;
  }
  .advantages__item-icon {
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
  }
}
@media (max-width: 640px) {
  .advantages__line {
    margin: 70px auto 30px auto;
  }
  .advantages__title {
    font-size: 24px !important;
    margin-bottom: 15px;
  }
  .advantages__item-descr {
    max-width: 200px;
  }
  .advantages__items {
    margin-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .advantages__title {
    font-size: 22px !important;
    max-width: 265px;
  }
  .advantages__items {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 60px;
  }
  .advantages__item-icon {
    margin-bottom: 15px;
  }
  .advantages__item-title {
    margin-bottom: 10px;
  }
}
.work__line {
  border: none;
  max-width: 190px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
  margin-bottom: 50px;
}

.work__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.work__descr {
  max-width: 605px;
  margin: 0 auto 95px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.work__form-shortcode {
  background: #343434;
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px;
  padding-bottom: 45px;
  position: relative;
}
.work__form-shortcode::before {
  content: "";
  background: url(../img/designers/work-form-circle.svg);
  width: 901px;
  height: 968px;
  position: absolute;
  bottom: -202px;
  right: -235px;
  animation-name: circleWork;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes circleWork {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.work__form .work__form-descr {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 485px !important;
  margin: 0 auto;
  margin-bottom: 25px;
}

.work__form-line {
  border: none;
  max-width: 190px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
  margin-bottom: 25px;
}

.work__form .popup__form-inputs-day,
.work__form .popup__form-inputs-hours,
.work__form .popup__form-inputs-name,
.work__form .popup__form-inputs-phone,
.work__form .popup__form-inputs-message {
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
  background: #343434;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.35) !important;
  color: #fff;
  font-family: "Raleway";
  font-size: 18px;
  max-width: 100% !important;
  padding: 12px 25px;
  transition: all 0.3s ease-out;
  border-radius: 0 !important;
}
.work__form .popup__form-inputs-day:focus,
.work__form .popup__form-inputs-hours:focus,
.work__form .popup__form-inputs-name:focus,
.work__form .popup__form-inputs-phone:focus,
.work__form .popup__form-inputs-message:focus {
  outline: none !important;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.35) !important;
  background: #4b4b4b;
}
.work__form .popup__form-inputs-day::placeholder,
.work__form .popup__form-inputs-hours::placeholder,
.work__form .popup__form-inputs-name::placeholder,
.work__form .popup__form-inputs-phone::placeholder,
.work__form .popup__form-inputs-message::placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.work__form .popup__form-inputs-day,
.work__form .popup__form-inputs-hours {
  margin-top: 8px;
}
.work__form .popup__form-inputs-message {
  resize: none !important;
  width: 100%;
  height: 195px;
}
.work__form .popup__form-inputs-date {
  max-width: 100%;
  width: 100%;
  gap: 25px;
}
.work__form p {
  max-width: 100% !important;
  width: 100%;
}
.work__form br {
  display: none;
}
.work__form .wpcf7-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.work__form .popup__form-inputs-date > p > label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.work__form .popup__call-form-submit:hover {
  border-color: #fff;
  color: #fff;
}

.work__form-subtitle {
  color: #fff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 53px;
}

.work__form-contacts {
  width: 100%;
  max-width: 360px;
  flex-shrink: 0;
  border: 1px solid #959595;
  padding: 30px 40px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work__form-contacts > a {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease-out;
}
.work__form-contacts > a:hover {
  opacity: 0.5;
}

.work__form-email {
  font-size: 28px !important;
}

.work__form-contacts .work__form-line {
  margin: 10px auto;
}

@media (max-width: 1480px) {
  .work__title {
    font-size: 38px;
    max-width: 700px;
  }
  .work__form-contacts > a {
    font-size: 32px;
  }
}
@media (max-width: 1280px) {
  .work__title {
    font-size: 30px;
    max-width: 500px;
  }
  .work__descr {
    font-size: 18px;
    max-width: 500px;
    margin: 0 auto 70px;
  }
  .work__form .work__form-descr {
    font-size: 25px;
  }
  .work__form .popup__form-inputs-day, .work__form .popup__form-inputs-hours, .work__form .popup__form-inputs-name, .work__form .popup__form-inputs-phone, .work__form .popup__form-inputs-message {
    font-size: 16px;
    padding: 10px 25px;
  }
  .work__form-contacts > a {
    font-size: 25px;
  }
  .work__form-email {
    font-size: 25px !important;
  }
}
@media (max-width: 1024px) {
  .work__title {
    font-size: 28px !important;
  }
  .contacts__form {
    padding: 25px 30px;
  }
  .subtitle-default {
    font-size: 23px;
  }
  .work__form-contacts > a {
    font-size: 22px;
  }
  .work__form-email {
    font-size: 22px !important;
  }
  .work__form-contacts {
    max-width: 320px;
    margin-bottom: 80px;
  }
}
@media (max-width: 800px) {
  .contacts__form {
    max-width: 100%;
  }
  .work__descr {
    font-size: 18px;
    max-width: 500px;
    margin: 0 auto 40px;
  }
  .work__form .work__form-descr {
    font-size: 22px;
  }
  .work__form .popup__form-inputs-day, .work__form .popup__form-inputs-hours, .work__form .popup__form-inputs-name, .work__form .popup__form-inputs-phone, .work__form .popup__form-inputs-message {
    padding: 7px 25px;
  }
  .work__form-subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 640px) {
  .work__title {
    font-size: 24px !important;
  }
  .work__descr {
    font-size: 16px !important;
    max-width: 350px;
  }
  .work__form .work__form-descr {
    font-size: 20px;
  }
  .work__form .popup__form-inputs-day, .work__form .popup__form-inputs-hours, .work__form .popup__form-inputs-name, .work__form .popup__form-inputs-phone, .work__form .popup__form-inputs-message {
    font-size: 15px;
  }
  .work__form-contacts {
    max-width: 250px;
  }
  .work__form-contacts > a {
    font-size: 18px;
  }
  .work__form-email {
    font-size: 18px !important;
  }
  .work__form-contacts {
    max-width: 250;
    padding: 20px 25px;
    margin-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .work__section {
    overflow: hidden;
  }
  .work__form-shortcode::before {
    width: 600px;
    height: 630px;
    background-size: cover;
    right: -85px;
  }
  .work__title {
    font-size: 22px;
    max-width: 230px;
    margin-bottom: 20px;
  }
  .work__descr {
    margin: 0 auto 30px;
  }
  .work__form .work__form-descr {
    font-size: 17px;
  }
  .work__form-shortcode {
    padding: 20px;
  }
  .work__form-subtitle {
    font-size: 18px;
  }
  .work__form-contacts > a {
    font-size: 16px;
  }
  .work__form-email {
    font-size: 16px !important;
  }
  .work__form-contacts {
    max-width: 220px;
    padding: 15px 20px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}