:root {
    --color-bg-dark: #2b2b2b;
    --color-bg-light: #f6f6f6;

    --color-font-dark: #252525;
    --color-font-dark-tr: rgba(37, 37, 37, 0.50);

    --color-font-light: #FFF;
    --color-font-light-tr: rgba(255, 255, 255, 0.50);

    --color-accent: #D4B9A2;

    --color-accent-gradient: linear-gradient(311deg, #E1CCB9 0%, #CFB39B 100%);

    --font-rl: "Raleway", sans-serif;
}

a {
    color: #666;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* CSS код для хедера */

body {
    background-color: var(--color-bg-dark);
    margin: 0;
}

.container {
    max-width: 1248px;
    margin: 0 auto;
}









.header.header-darkpage .header__logo-text {
    color: #fff;
}

.header.header-darkpage .header__logo-descr {
    color: rgba(255, 255, 255, 0.4);
}

.header.header-darkpage .header__btn-menu {
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.header.header-darkpage .header__btn-name {
    color: #fff;
}

.header.header-darkpage .header__lower-title {
    color: #fff;
}

.header.header-darkpage .header__btn-call {
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.header.header-darkpage .header__btn-connection {
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

/* Меню справа, которые включаются в обычном меню */

#menu-left-products {
    position: fixed;
    width: calc(100% - 400px);
    height: 100vh;
    top: 0;
    left: 400px;
    z-index: 999;
    background: var(--color-font-light);
    transition: all .5s ease-in-out;
    transform: translateX(-30px);
    visibility: hidden;
    opacity: 0;
}

#menu-left-products.active {
    transition: all .5s ease-in-out;
    visibility: visible;
    opacity: 1;
    transform: none;
}

#menu-left-more {
    position: fixed;
    width: calc(100% - 400px);
    height: 100vh;
    top: 0;
    left: 400px;
    z-index: 999;
    background: var(--color-font-light);
    transition: all .5s ease-in-out;
    transform: translateX(-30px);
    visibility: hidden;
    opacity: 0;
}

#menu-left-more.active {
    transition: all .5s ease-in-out;
    visibility: visible;
    opacity: 1;
    transform: none;
}

.menu-left__inner {
    padding: 30px;
    padding-top: 50px;
}

.menu-left__top {
    height: 50px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid var(--color-font-dark-tr);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    transition: all .3s linear;
    font-size: 24px;
    font-weight: 600;
    color: rgba(55, 55, 55, 0.8);
}

.menu-left__bottom {
    padding: 30px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    row-gap: 35px;
    overflow-y: auto;
}

.menu-left__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    transition: all .3s linear;
}

.menu-left__item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .3s linear;
}

.menu-left__item:hover .menu-left__item-img {
    filter: brightness(0.8);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50) inset;
}

.menu-left__item-text {
    position: relative;
}

.menu-left__item-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    width: 0;
    background: var(--color-font-dark-tr);
    transition: .3s ease-in-out;
    z-index: -1;
}

.menu-left__item-text:hover::after {
    width: 100%;
}








/* CSS стиль для обычного верхнего хедера */

.header__menu-center .header__btn-menu {
    margin: 0 auto;
    margin-bottom: 5px;
}

.header__menu-center .header__btn-name {
    text-transform: lowercase;
}

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
}

.header__top.darkpage {
    height: 400px;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.header__top {
    overflow: hidden;
}

.header__top .header__top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__top.small {
    margin-bottom: 75px;
}

.header__top.header-top-main {
    position: absolute;
    top: 0;
    z-index: 999999;
    left: 0;
    right: 0;
}

.header__top-upper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 50px;
    margin-top: 50px;
}

.header__upper-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.header__btn-menu {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(37, 37, 37, 0.5);
    transition: all .4s linear;
    cursor: pointer;
}

.header__btn-menu:hover {
    background: rgba(37, 37, 37, 0.1);
}

.icon-menu1:before {
    font-size: 30px;
}

.header__mob-btn {
    border: 1px solid rgba(37, 37, 37, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 170px;
    color: #252525;
    font-size: 14px;
    font-weight: 500;
    transition: all .4s linear;
    margin-top: 45px;
    cursor: pointer;
}

.header__mob-btn:hover {
    background: rgba(37, 37, 37, 0.1);
}

.header__btn-name {
    color: #252525;
    font-size: 16px;
    font-weight: 500;
}

.header__logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    transition: all .3s linear;
}

.header__logo-text {
    color: #252525;
    font-size: 34px;
    font-weight: 800;
    transition: all .3s linear;
}

.header__logo>a:hover .header__logo-text {
    opacity: 0.5;
}

.header__logo-descr {
    color: rgba(37, 37, 37, 0.4);
    font-size: 14px;
    font-weight: 500;
    transition: all .3s linear;
}

.header__logo>a:hover .header__logo-descr {
    opacity: 0.4;
}

.header__upper-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.header__btn-call {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(37, 37, 37, 0.5);
    transition: all .4s linear;
}

.header__btn-call:hover {
    background: rgba(37, 37, 37, 0.1);
}

.header__btn-call-icon.icon-phone:before {
    font-size: 19px;
}

.header__btn-connection {
    border: 1px solid rgba(37, 37, 37, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 150px;
    color: #252525;
    font-size: 14px;
    font-weight: 500;
    transition: all .4s linear;
}

.header__btn-connection:hover {
    background: rgba(37, 37, 37, 0.1);
}

.header__line {
    height: 1px;
    background: #252525;
    margin: 25px 50px;
}

.header__top.darkpage .header__line {
    height: 1px;
    background: #252525;
    margin: 25px 50px;
    margin-bottom: 125px;
}

.header__top.darkpage .header__top-lower {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 25px;
}

.header-darkpage .header__top-lower {
    padding: 0 25px;
}


.header__top.darkpage .header__lower-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__top.darkpage .header__lower-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header__lower-subtitle {
    color: #fff;
}

.header__top-lower {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}



.header__lower-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header__lower-connection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: none !important;
}

.header__lower-title {
    color: #252525;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
}

.header-darkpage .header__lower-title {
    color: #252525;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 5px;

}



.header__lower-connection-btn {
    color: rgba(37, 37, 37, 0.5);
    font-size: 14px;
    font-weight: 500;
    position: relative;
    height: fit-content;
    transition: all .3s linear;
}

.header__lower-connection-btn:before {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: -23px;
    font-family: "icomoon" !important;
    content: "\e90f";
}

.header__lower-connection-btn:hover {
    color: rgba(37, 37, 37, 0.9);
}

@media (max-width: 1480px) {

    .header__top-lower {
        padding: 0 25px;
    }
    .header-collection .header__slide-title {
        font-size: 50px !important;
      }
      .header__top.darkpage .header__top-lower {
        max-width: 1050px;
      }
} 
@media (max-width: 1100px) {
    .header__top-upper {
        padding: 0 25px;
    }

    .header__top-lower {
        padding: 0 25px;
    }

    .header__line {
        margin: 15px 25px 25px 25px;
    }

    .header__logo-text {
        font-size: 28px;
    }

    .header__logo-descr {
        font-size: 12px;
    }

    .header__btn-connection {
        font-size: 12px;
        height: 30px;
        width: 140px;
    }

    .header__btn-call {
        width: 30px;
        height: 30px;
    }

    .header__btn-call-icon.icon-phone:before {
        font-size: 17px;
    }

    .icon-menu1:before {
        font-size: 28px;
    }

    .header__btn-menu {
        width: 40px;
        height: 40px;
    }

    .header__lower-connection-btn {
        font-size: 12px;
    }

    .header__lower-connection-btn:before {
        width: 14px;
        height: 14px;
        font-size: 14px;
    }

    .header__lower-title {
        font-size: 28px;
        font-weight: 600;
        margin-top: 5px;
    }

    .header__top.darkpage .header__lower-title {
        font-size: 50px;
    }
}

@media (max-width: 850px) {
    .header__upper-right {
        display: none !important;
    }

    .header__top-upper {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }

    .header__top {
        padding-top: 35px;
    }

    .header__upper-left {
        flex-direction: row-reverse;
    }

    .header__lower-connection-btn {
        display: none;
    }
    .header__top.darkpage .header__lower-title {
        font-size: 40px;
    }
    .header__top.darkpage .header__line {
        margin: 25px 25px 60px 25px;
    }
    .header__top.darkpage .header__lower-text {
        align-items: center;
    }
    .header__top.darkpage .header__top-lower {
        
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width: 450px) {
    .header__btn-name {
        display: none;
    }

    .header__lower-title {
        font-size: 24px;
    }

    .header__line {
        margin: 10px 15px 20px 15px;
    }

    .header__logo-text {
        font-size: 26px;
    }

    .header__logo-descr {
        font-size: 10px;
    }

    .header__top {
        padding-top: 25px;
        margin-bottom: 50px;
    }

    .header__top-upper {
        padding: 0 15px;
    }
    .header__top.darkpage .header__lower-title {
        font-size: 28px;
    }
    .header__top.darkpage .header__top-lower {
        
        justify-content: center;
        align-items: center;
        
    }

}

@media (max-width: 350px) {
    .header-top-main .header__upper-left {
        display: none;
    }

    .header-top-main .header__top-upper {
        justify-content: center;
    }
}

@media (min-width: 1700px) {
    .menu-left__bottom {
        max-width: 1150px;
        margin-left: 0;
    }
}


















/* Настройки бокового меню */

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 415px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    background-color: #fafafa;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
    display: block;
    background: #f6f6f6;
    box-shadow: inset -10px 0px 25px rgba(0, 0, 0, 0.25);
}

#panel {
    filter: none;
    transition: all 0.3s linear !important;
}

#panel.hide {
    filter: brightness(0.5);
    transition: all 0.3s linear;
}

#menu {
    display: block;
    padding: 30px;
    padding-top: 50px;
}

/* для нажатия */
.panel:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}










/* Обычное боковое меню */


.menu-mob__list {
    padding: 0 !important;
}

.menu-mob__close-btn {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(37, 37, 37, 0.5);
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    transition: all .3s linear;
    cursor: pointer;
    padding: 15px;
}

.menu-mob__close {
    font-size: 30px;
}

.menu-mob__title {
    color: rgba(55, 55, 55, 0.8);
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

#menu ul {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}

#menu ul>li {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    transition: all .3s linear;
}

#menu ul>li a {
    color: rgba(37, 37, 37, 0.6);
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    transition: all .3s linear;
    padding: 10px 15px;
    width: 100%;
    display: block;
    cursor: pointer;
}

#menu ul>li:hover a {
    background: rgba(0, 0, 0, 0.05);
}

.menu-mob__products,
.menu-mob__more {
    position: relative;
    transition: all .3s linear;
}

.menu-mob__products::after,
.menu-mob__more::after {
    content: "\e901";
    font-size: 22px;
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--color-font-dark-tr);
    opacity: 0;
    transition: all .3s linear;
}

.menu-mob__products:hover::after,
.menu-mob__more:hover::after {
    transition: all .3s linear;
    opacity: 1;
}

#menu .menu-mobile__list {
    display: flex;
    flex-direction: column;
}

#menu .menu-mobile__list {
    display: none;
}

#menu .menu-mobile__list>li {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    transition: all .3s linear;
}

#menu .menu-mobile__list>li a {
    color: rgba(37, 37, 37, 0.6);
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    transition: all .3s linear;
    padding: 10px 15px;
    width: 100%;
    display: block;
    cursor: pointer;
}

#menu .menu-mobile__list>li:hover a {
    background: rgba(0, 0, 0, 0.05);
}

.menu-mobile__products,
.menu-mobile__more {
    position: relative;
    transition: all .3s linear;
}

.menu-mobile__products::after,
.menu-mobile__more::after {
    content: "\e940";
    font-size: 22px;
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--color-font-dark-tr);
    opacity: 1;
    transition: all .3s linear;
}

.menu-mobile__more.active::after,
.menu-mobile__products.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.menu-mobile__products-list,
.menu-mobile__more-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 25px;
    padding-top: 20px;
}



@media (max-width: 650px) {
    #menu .menu-mobile__list {
        display: flex;
    }

    #menu .menu-mob__list {
        display: none;
    }
}

@media (max-width: 400px) {
    #menu {
        width: 100%;
    }
}














/* CSS код хедера с фото на главной */

.header__slider {
    height: 100vh;
    overflow: hidden;
}

.header__slider .swiper-slide {
    object-fit: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.header-collection .header__slide-text {
    transform: none;
    padding-left: 0;
    z-index: 9999;
    align-items: center;
    border: none;
    margin-top: 70px;
}

.header-collection .header__slide-subtitle {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-collection .header__slide-line {
    border: none;
    max-width: 275px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    height: 1px;
}

.header-collection .header__slide-title {
    color: #FFF;
    text-align: center;
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 75px;
    position: relative;
}

.header-collection .header__slide-title::before {
    content: '';
    position: absolute;
    width: 980px;
    height: 45px;
    border: 2px solid rgba(55, 55, 55, 0.237);
    background: linear-gradient(342deg, rgba(0, 0, 0, 0.25) 28.57%, rgba(51, 51, 51, 0.09) 98.92%);
    backdrop-filter: blur(15px);
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}




.header-door .swiper-slide {
    /* justify-content: flex-end; */
    position: relative;
}

.header-door .swiper-slide::after {
    content: '';
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 170.6%);
    z-index: 110;
}

.header-door .swiper-slide::before {
    content: '';
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #000 -77.33%, rgba(0, 0, 0, 0.00) 94%);
    z-index: 110;
}

.header-door .header__slide-text {
    transform: none;
    padding-left: 0;
    z-index: 9999;
    align-items: center;
    border: none;
    margin-top: 70px;
    width: 100%;
    align-items: flex-start;
    max-width: 1248px;
    margin: 0 auto;
}

.header-door .header__slide-subtitle {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-door .header__slide-line {
    border: none;
    max-width: 275px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    height: 1px;
}

.header-door .header__slide-title {
    color: #FFF;
    text-align: center;
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 75px;
}










.header__slide-text {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(50%);
    padding-left: 25px;
    border-left: 1px solid #fff;
    margin-top: 130px;
}

.header__slide.slide-1 .header__slide-cover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    transform: scale(1.07);
    transition: all .4s ease-out;
    transition-delay: .4s;
    filter: blur(5px);
}

.header__slider.scrolled .header__slide.slide-1 .header__slide-cover-img {
    transform: none;
    filter: none;
}

.header__slide.slide-2 .header__slide-cover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    transform: scale(1.07);
    transition: all .4s ease-out;
    transition-delay: .4s;
    filter: blur(5px);
}

.header__slider.scrolled .header__slide.slide-2 .header__slide-cover-img {
    transform: none;
    filter: none;
}

.header__slide-title {
    color: #FFF;
    font-size: 80px;
    font-weight: 600;
    max-width: 678px;
    margin-bottom: 25px;
}

.header__slide-descr {
    color: #FFF;
    font-size: 24px;
    max-width: 600px;
    margin-bottom: 45px;
}

.header__slide-btn {
    width: 210px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-font-light-tr);
    color: var(--color-font-light);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    transition: all .3s linear;
    cursor: pointer;
}

.header__slide-btn:hover {
    background: rgba(37, 37, 37, 0.1);
}

.mySwiper .swiper-pagination {
    bottom: 45px;
}

.mySwiper .swiper-pagination-bullet {
    width: 190px !important;
    border-radius: 0 !important;
    height: 5px;
    background: var(--color-font-light);
}

.mySwiper .swiper-pagination-bullet-active {
    background: var(--color-font-light) !important;
}

.header-top-main .header__btn-connection {
    color: var(--color-font-light);
    border-color: var(--color-font-light-tr);
}

.header-top-main .header__btn-call {
    border-color: var(--color-font-light-tr);
    color: var(--color-font-light);
}

.header-top-main .header__btn-menu {
    border-color: var(--color-font-light-tr);
    color: var(--color-font-light);
}

.header-top-main .header__btn-name {
    color: var(--color-font-light);
}

.header-top-main .header__logo-text {
    color: var(--color-font-light);
}

.header-top-main .header__logo-descr {
    color: var(--color-font-light-tr);
}

.header-top-main .header__lower-connection-btn {
    color: var(--color-font-light-tr);
}

.header-top-main .header__lower-connection-btn:hover {
    color: var(--color-font-light);
}

.header-top-main .header__lower-connection-btn {
    position: relative;
}

.header-top-main .header__lower-connection-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    width: 0;
    background: var(--color-font-light-tr);
    transition: .3s ease-in-out;
    z-index: -1;
}

.header-top-main .header__lower-connection-btn:hover::after {
    width: 100%;
}




.wpcf7-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px !important;
}

@media (max-width: 1480px) {
    .header__slide-title {
        font-size: 58px !important;
        max-width: 500px;
        margin-bottom: 15px;
    }

    .header__slide-descr {
        font-size: 18px;
        max-width: 500px;
    }
}


@media (max-width: 1100px) {
    .header__slide-title {
        font-size: 40px !important;
    }
    .header__slide-text {
        padding-left: 0;
        border: none;
        text-align: center;
        align-items: center;
    }

    .header__slide-text {
        transform: translateX(0px)
    }

}

@media (max-width: 700px) {
    .header__slide-title {
        font-size: 30px !important;
        margin-bottom: 15px;
    }

    .header__slide-descr {
        font-size: 16px;
        max-width: 350px;
        margin-bottom: 35px;
    }

    .header__slide-btn {
        width: 180px;
        height: 35px;
    }

    .mySwiper .swiper-pagination-bullet {
        width: 100px !important;
    }
}

@media (max-width: 450px) {
    .header__slide-title {
        font-size: 28px !important;
        max-width: 250px !important;
        align-items: center !important;
        text-align: center !important;
    }

    .header__slide-descr {
        font-size: 14px;
        max-width: 250px;
    }

    .header__slide-btn {
        width: 160px;
        height: 30px;
        font-size: 14px;
    }

    .mySwiper .swiper-pagination-bullet {
        width: 80px !important;
    }

    .header__slide-text {
        margin-top: 80px;
    }
}

@media (max-width: 350px) {
    .header__slide-title {
        font-size: 28px !important;
        align-items: center !important;
        text-align: center !important;
    }

    .header__slide-descr {
        font-size: 14px;
        max-width: 200px;
    }
}