.holding__section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.holding__section .holding__back {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.holding__section .holding__back-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(../img/holding/cover-portamia.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.holding__section .holding__overlay {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.8s linear;
  opacity: 0;
}
.holding__section .holding__overlay-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/holding/cover-zmp.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.holding__section .holding__overlay.active {
  width: 3000px;
  height: 3000px;
  opacity: 1;
}
.holding__section .container {
  height: 100%;
  width: 100%;
}
.holding__section .holding__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.holding__section .holding__block {
  border: 2px solid rgba(55, 55, 55, 0.35);
  background: linear-gradient(342deg, rgba(0, 0, 0, 0.25) 28.57%, rgba(51, 51, 51, 0.09) 98.92%);
  backdrop-filter: blur(15px);
  max-width: 975px;
  display: grid;
  grid-template-columns: 250px 1fr;
  padding: 75px;
  gap: 75px;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
}
.holding__section .holding__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease-out;
}
.holding__section .holding__btns.load {
  pointer-events: none;
  opacity: 0.5;
  filter: blur(1px);
}
.holding__section .holding__btn {
  width: 220px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.holding__section .holding__btn.active {
  transform: scale(1.12);
  opacity: 1;
  border: 2.5px solid #fff;
  cursor: default;
}

.holding__title {
  color: #fff;
  font-size: 25.402px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px; /* 137.783% */
}

.holding__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  margin-bottom: 25px;
}

.holding__subtitleBig {
  color: rgba(255, 255, 255, 0.75);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  margin-top: 25px;
  margin-bottom: 5px;
}

.holding__descr {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin-bottom: 45px;
}

.holding__link {
  height: 40px;
  width: 215px;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  transition: all 0.3s ease-out;
}
.holding__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.35);
  transition: all 0.3s ease-out;
}
.holding__link:hover {
  border-color: rgba(255, 255, 255, 0.75);
  color: #fff;
}
.holding__link:hover::after {
  width: 0px;
  left: auto;
  right: 0;
}

@media (max-width: 1280px) {
  .holding__section .holding__block {
    max-width: 860px;
    padding: 70px;
  }
  .holding__section .holding__btn {
    width: 200px;
    height: 40px;
  }
  .holding__section .holding__btn.active {
    transform: scale(1.09);
  }
}
@media (max-width: 1024px) {
  .holding__section .holding__block {
    max-width: 700px;
    padding: 50px;
    gap: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 800px) {
  .holding__section .holding__block {
    border: 2px solid rgba(55, 55, 55, 0.35);
    background: linear-gradient(342deg, rgba(0, 0, 0, 0.25) 28.57%, rgba(51, 51, 51, 0.09) 98.92%);
    backdrop-filter: blur(15px);
    max-width: 550px;
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 45px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
  }
  .holding__descr {
    margin-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .holding__section .holding__btn {
    width: 130px;
  }
  .holding__btn img {
    width: 60%;
    height: 70%;
  }
  .holding__section .holding__block {
    grid-template-columns: 1fr 1fr;
    max-width: 430px;
    padding: 30px;
    gap: 20px;
    padding-right: 40px;
  }
}
@media (max-width: 480px) {
  .holding__section .holding__inner {
    width: 100%;
    padding: 0 25px;
  }
  .holding__section .holding__block {
    grid-template-columns: 1fr;
    padding: 25px;
  }
  .holding__title {
    font-size: 22px;
  }
  .holding__section .holding__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-items: center;
    column-gap: 0;
  }
  .holding__section .holding__btn {
    width: 110px;
    height: 30px;
  }
  .holding__btn img {
    width: 60%;
    height: auto;
  }
  .holding__link {
    width: 170px;
    margin: 0 auto;
  }
}