#panel {
  background: #2b2b2b;
}

.advantages__line {
  border: none;
  max-width: 190px;
  margin: 75 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.advantages__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.advantages__descr {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__item-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.advantages__item-icon > img {
  max-width: 89px;
  max-height: 89px;
}

.advantages__item-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.advantages__item-descr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1050px;
    margin: 0 auto;
  }

  .advantages__title {
    font-size: 38px !important;
  }

  .advantages__descr {
    font-size: 18px;
    max-width: 505px;
    margin-bottom: 50px;
  }

  .advantages__items {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .advantages__item-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
  }

  .advantages__item-icon > img {
    max-width: 59px;
    max-height: 59px;
  }

  .advantages__item-title {
    font-size: 22px;
  }

  .advantages__item-descr {
    font-size: 16px;
  }
}

.popular__inner {
  position: relative;
}

.popular__line {
  border: none;
  max-width: 190px;
  margin: 100 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.popular__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 75px;
}

.popular__item {
  background: #343434;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 625px;
  transition: all 0.3s linear;
}

.popular__item:hover {
  transform: scale(1.015);
}

.popular__item-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  position: relative;
  width: 172px;
  height: 413px;
}

.popular__item-top-cover {
  color: rgba(255, 255, 255, 0.1);
  font-family: Raleway;
  font-size: 70.701px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: rotate(-90deg);
  text-wrap: nowrap;
  position: absolute;
  bottom: 53px;
  left: 150px;
  width: 100%;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  cursor: default;
}

.popular__item-subtitle {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popular__item-title {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.popular__btn {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.popular__btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.popular__items .swiper-wrapper {
  height: fit-content;
}

.swiper-button-prev::after {
  font-family: "icomoon" !important;
  content: "\e900";
  font-size: 50px;
  color: #fff;
}

.swiper-button-next::after {
  font-family: "icomoon" !important;
  content: "\e901";
  font-size: 50px;
  color: #fff;
}

.swiper-button-prev {
  left: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-next {
  right: -85px;
  width: 55px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-prev:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-prev:hover {
  transform: scale(1.03);
}

.swiper-button-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 55px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.swiper-button-next:hover::before {
  height: 120px;
  opacity: 1;
}

.swiper-button-next:hover {
  transform: scale(1.03);
}

.popular__line.line-long {
  max-width: 605px;
  margin: 100px auto 75px auto;
}

@media (max-width: 1480px) {
  .popular__title {
    font-size: 38px !important;
    margin-bottom: 50px;
  }

  .popular__item {
    height: 505px;
  }

  .popular__item-subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .popular__item-title {
    font-size: 22px;
  }

  .popular__btn {
    font-size: 16px;
    padding: 5px 25px;
  }

  .popular__btn:hover {
    transform: scale(1.007);
  }

  .popular__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .popular__item-top {
    width: 152px;
    height: 313px;
  }

  .popular__item-top-cover {
    bottom: 35px;
    left: 120px;
    font-size: 60.701px;
  }

  .swiper-button-next {
    right: -65px;
    width: 40px;
    height: 90px;
  }

  .swiper-button-prev {
    left: -65px;
    width: 40px;
    height: 90px;
  }

  .swiper-button-prev::after {
    font-size: 36px;
  }

  .swiper-button-next::after {
    font-size: 36px;
  }

  .swiper-button-prev::before {
    width: 40px;
  }

  .swiper-button-next::before {
    width: 40px;
  }

  .swiper-button-prev:hover::before {
    height: 90px;
    opacity: 1;
  }

  .swiper-button-next:hover::before {
    height: 90px;
    opacity: 1;
  }

  .popular__line.line-long {
    margin: 75px auto 50px auto;
  }
}

.banner__section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  height: 465px;
}

.banner__section.zamer-section {
  background-image: url(../img/interior/zamer-banner-img.webp);
}

.banner__section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.banner__descr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 605px;
  margin-bottom: 45px;
}

.banner__btn {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.banner__btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1480px) {
  .banner__title {
    font-size: 38px !important;
  }

  .banner__descr {
    font-size: 18px !important;
    max-width: 490px;
    cursor: pointer;
  }
}

.why__section {
  border-bottom: 1px solid rgba(227, 227, 227, 0.3);
}

.why__line {
  border: none;
  max-width: 190px;
  margin: 75 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.why__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.why__descr {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1480px) {
  .why__title {
    font-size: 38px !important;
  }

  .why__descr {
    font-size: 18px !important;
    max-width: 490px;
  }
}

.mdf__section {
  height: 850px;
  overflow: hidden;
}

.mdf__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mdf__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mdf__line {
  border: none;
  width: 100%;
  max-width: 190px;
  margin: 0 auto 50 0;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.mdf__title {
  color: #fff;
  text-align: left;
  max-width: 500px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.mdf__descr {
  max-width: 490px;
  margin: 0 auto 0 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mdf__right {
  position: relative;
  height: 100%;
}

.mdf__right > img {
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s ease-out;
}

.mdf__section.scrolled .mdf__right > img {
  opacity: 1;
}

.mdf__img-1 {
  left: calc(50% + 100px);
  bottom: -350px;
}

.mdf__section.scrolled .mdf__img-1 {
  bottom: 0;
  left: calc(50% + 100px);
  transition-delay: 0s;
}

.mdf__img-2 {
  left: calc(50% + 0px);
  bottom: -250px;
}

.mdf__section.scrolled .mdf__img-2 {
  bottom: 0;
  left: calc(50% + 0px);
  transition-delay: 0.2s;
}

.mdf__img-3 {
  left: calc(50% - 100px);
  bottom: -150px;
}

.mdf__section.scrolled .mdf__img-3 {
  bottom: 0;
  left: calc(50% - 100px);
  transition-delay: 0.4s;
}

@media (max-width: 1480px) {
  .mdf__section {
    height: 100vh;
  }

  .mdf__title {
    font-size: 38px !important;
  }

  .mdf__descr {
    font-size: 18px !important;
    max-width: 450px;
  }

  .mdf__img-1 {
    left: calc(50% + 10px);
    bottom: -350px;
    max-height: 600px;
  }

  .mdf__section.scrolled .mdf__img-1 {
    bottom: 0;
    left: calc(50% + 10px);
    transition-delay: 0s;
  }

  .mdf__img-2 {
    left: calc(50% - 60px);
    bottom: -250px;
    max-height: 520px;
  }

  .mdf__section.scrolled .mdf__img-2 {
    bottom: 0;
    left: calc(50% - 60px);
    transition-delay: 0.2s;
  }

  .mdf__img-3 {
    left: calc(50% - 130px);
    bottom: -150px;
    max-height: 440px;
  }

  .mdf__section.scrolled .mdf__img-3 {
    bottom: 0;
    left: calc(50% - 130px);
    transition-delay: 0.4s;
  }
}

.furniture__section {
  height: 850px;
  background: #e3e3e3;
  overflow: hidden;
}

.furniture__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.furniture__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.furniture__left > img {
  width: 100%;
  height: auto;
  max-height: 750px;
  object-fit: cover;
}

.furniture__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.furniture__line {
  border: none;
  width: 100%;
  max-width: 190px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 50px;
  background: rgba(37, 37, 37, 0.5);
  color: rgba(37, 37, 37, 0.5);
  height: 1px;
}

.furniture__title {
  color: #252525;
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
  max-width: 540px;
  margin-left: auto;
  margin-right: 0;
}

.furniture__descr {
  max-width: 550px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 75px;
  color: rgba(37, 37, 37, 0.5);
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.furniture__btn {
  color: #252525;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(37, 37, 37, 0.5);
  transition: all 0.3s ease-out;
  width: fit-content;
  cursor: pointer;
}

.furniture__btn:hover {
  background: rgba(37, 37, 37, 0.1);
}

@media (max-width: 1480px) {
  .furniture__title {
    font-size: 38px !important;
  }

  .furniture__descr {
    font-size: 18px !important;
    max-width: 450px;
  }
}

.sizes__section {
  overflow: hidden;
  height: 850px;
}

.sizes__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sizes__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sizes__line {
  border: none;
  width: 100%;
  max-width: 190px;
  margin: 0 auto 50 0;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.sizes__title {
  color: #fff;
  text-align: left;
  max-width: 500px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.sizes__descr {
  max-width: 490px;
  margin: 0 auto 0 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sizes__right {
  position: relative;
  height: 100%;
}

.sizes__right > img {
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.4s ease-out;
  opacity: 0;
}

.sizes__img-1 {
  left: calc(50% + 0px);
  bottom: -350px;
}

.sizes__section.scrolled .sizes__img-1 {
  left: calc(50% + 0px);
  bottom: 0;
  transition-delay: 0.2s;
  opacity: 1;
}

.sizes__img-2 {
  left: calc(50% + 220px);
  bottom: -250px;
}

.sizes__section.scrolled .sizes__img-2 {
  left: calc(50% + 220px);
  bottom: 0;
  transition-delay: 0.4s;
  opacity: 1;
}

.sizes__img-3 {
  left: calc(50% - 220px);
  bottom: -150px;
}

.sizes__section.scrolled .sizes__img-3 {
  left: calc(50% - 220px);
  bottom: 0;
  transition-delay: 0.6s;
  opacity: 1;
}

@media (max-width: 1480px) {
  .sizes__section {
    height: 100vh;
  }

  .sizes__title {
    font-size: 38px !important;
  }

  .sizes__descr {
    font-size: 18px !important;
    max-width: 450px;
  }

  .sizes__img-1 {
    left: calc(50% - 50px);
    bottom: -350px;
    height: 500px;
  }

  .sizes__section.scrolled .sizes__img-1 {
    left: calc(50% - 50px);
    bottom: 0;
    transition-delay: 0.2s;
    opacity: 1;
  }

  .sizes__img-2 {
    left: calc(50% + 130px);
    bottom: -250px;
    height: 420px;
  }

  .sizes__section.scrolled .sizes__img-2 {
    left: calc(50% + 130px);
    bottom: 0;
    transition-delay: 0.4s;
    opacity: 1;
  }

  .sizes__img-3 {
    left: calc(50% - 200px);
    bottom: -150px;
    height: 350px;
  }

  .sizes__section.scrolled .sizes__img-3 {
    left: calc(50% - 200px);
    bottom: 0;
    transition-delay: 0.6s;
    opacity: 1;
  }
}

.catalogue__line {
  border: none;
  max-width: 190px;
  margin: 100 auto 50 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.catalogue__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.catalogue__descr {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalogue__items > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 30px;
}

.catalogue__item {
  background: #343434;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 625px;
  transition: all 0.3s ease-out;
}

.catalogue__item.unfinished {
  pointer-events: none;
  opacity: 0.25;
}

.catalogue__item:hover {
  transform: scale(1.015);
}

.catalogue__item-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  position: relative;
  width: 172px;
  height: 413px;
}

.catalogue__item-top-cover {
  color: rgba(255, 255, 255, 0.1);
  font-family: Raleway;
  font-size: 70.701px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: rotate(-90deg);
  text-wrap: nowrap;
  position: absolute;
  bottom: 53px;
  left: 150px;
  width: 100%;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  cursor: default;
}

.catalogue__item-subtitle {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.catalogue__item-title {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.catalogue__btn {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.catalogue__btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.catalogue__line.long-line {
  border: none;
  max-width: 605px;
  margin: 100 auto 75 auto;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

@media (max-width: 1480px) {
  .catalogue__title {
    font-size: 38px !important;
  }

  .catalogue__descr {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
    max-width: 500px;
  }

  .catalogue__item {
    height: 505px;
  }

  .catalogue__item-subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .catalogue__item-title {
    font-size: 22px;
  }

  .catalogue__btn {
    font-size: 16px;
    padding: 5px 25px;
  }

  .catalogue__btn:hover {
    transform: scale(1.007);
  }

  .catalogue__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .catalogue__item-top {
    width: 152px;
    height: 313px;
  }

  .catalogue__item-top-cover {
    bottom: 45px;
    left: 120px;
    font-size: 50px;
  }
}

.reviews__section {
  background: #e3e3e3;
  height: 850px;
  position: relative;
  overflow: hidden;
}

.reviews__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  height: 100%;
}

.reviews__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.reviews__line {
  border: none;
  width: 100%;
  max-width: 190px;
  margin-left: 0;
  margin-bottom: 50px;
  background: rgba(37, 37, 37, 0.5);
  color: rgba(37, 37, 37, 0.5);
  height: 1px;
}

.reviews__title {
  color: #252525;
  text-align: left;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
  max-width: 540px;
  margin-right: auto;
  margin-left: 0;
}

.reviews__descr {
  max-width: 550px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 75px;
  color: rgba(37, 37, 37, 0.5);
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.reviews__btn {
  color: #252525;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border: 2px solid rgba(37, 37, 37, 0.5);
  transition: all 0.3s ease-out;
  width: fit-content;
  cursor: pointer;
}

.reviews__btn:hover {
  background: rgba(37, 37, 37, 0.1);
}

.reviews__right > div > div {
  background: #d9d9d9;
  width: 311.333px;
  height: 127.248px;
  position: absolute;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.reviews__section.scrolled .reviews__line-1 > div {
  opacity: 1;
}

.reviews__line-1 > div {
  top: 45px;
}

.reviews__line-item-1-1 {
  left: calc(50% - 120px);
  transition-delay: 0.1s;
}

.reviews__section.scrolled .reviews__line-item-1-1 {
  left: calc(50% - 170px);
  transition-delay: 0.2s;
}

.reviews__line-item-1-2 {
  left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-1-2 {
  left: calc(50% + 170px);
  transition-delay: 0.3s;
}

.reviews__line-item-1-3 {
  left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-1-3 {
  left: calc(50% + 510px);
  transition-delay: 0.4s;
}

.reviews__line-item-1-4 {
  left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-1-4 {
  left: calc(50% + 850px);
  transition-delay: 0.5s;
}

.reviews__line-2 > div {
  top: 205px;
}

.reviews__section.scrolled .reviews__line-2 > div {
  opacity: 1;
}

.reviews__line-item-2-1 {
  left: calc(50% + 40px);
}

.reviews__section.scrolled .reviews__line-item-2-1 {
  left: calc(50% - 10px);
  transition-delay: 0.4s;
}

.reviews__line-item-2-2 {
  left: calc(50% + 380px);
}

.reviews__section.scrolled .reviews__line-item-2-2 {
  left: calc(50% + 330px);
  transition-delay: 0.5s;
}

.reviews__line-item-2-3 {
  left: calc(50% + 720px);
}

.reviews__section.scrolled .reviews__line-item-2-3 {
  left: calc(50% + 670px);
  transition-delay: 0.6s;
}

.reviews__line-item-2-4 {
  left: calc(50% + 1060px);
}

.reviews__section.scrolled .reviews__line-item-2-4 {
  left: calc(50% + 1010px);
  transition-delay: 0.7s;
}

.reviews__line-3 > div {
  top: 365px;
}

.reviews__section.scrolled .reviews__line-3 > div {
  opacity: 1;
}

.reviews__line-item-3-1 {
  left: calc(50% + 110px);
  width: 80px !important;
}

.reviews__section.scrolled .reviews__line-item-3-1 {
  left: calc(50% + 60px);
  transition-delay: 0.2s;
}

.reviews__line-item-3-2 {
  left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-3-2 {
  left: calc(50% + 170px);
  transition-delay: 0.3s;
}

.reviews__line-item-3-3 {
  left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-3-3 {
  left: calc(50% + 510px);
  transition-delay: 0.4s;
}

.reviews__line-item-3-4 {
  left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-3-4 {
  left: calc(50% + 850px);
  transition-delay: 0.5s;
}

.reviews__line-4 > div {
  top: 520px;
}

.reviews__section.scrolled .reviews__line-4 > div {
  opacity: 1;
}

.reviews__line-item-4-1 {
  left: calc(50% + 40px);
}

.reviews__section.scrolled .reviews__line-item-4-1 {
  left: calc(50% - 10px);
  transition-delay: 0.4s;
}

.reviews__line-item-4-2 {
  left: calc(50% + 380px);
}

.reviews__section.scrolled .reviews__line-item-4-2 {
  left: calc(50% + 330px);
  transition-delay: 0.5s;
}

.reviews__line-item-4-3 {
  left: calc(50% + 720px);
}

.reviews__section.scrolled .reviews__line-item-4-3 {
  left: calc(50% + 670px);
  transition-delay: 0.6s;
}

.reviews__line-item-4-4 {
  left: calc(50% + 1060px);
}

.reviews__section.scrolled .reviews__line-item-4-4 {
  left: calc(50% + 1010px);
  transition-delay: 0.7s;
}

.reviews__line-5 > div {
  top: 675px;
}

.reviews__section.scrolled .reviews__line-5 > div {
  opacity: 1;
}

.reviews__line-item-5-1 {
  left: calc(50% - 120px);
}

.reviews__section.scrolled .reviews__line-item-5-1 {
  left: calc(50% - 170px);
  transition-delay: 0.2s;
}

.reviews__line-item-5-2 {
  left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-5-2 {
  left: calc(50% + 170px);
  transition-delay: 0.3s;
}

.reviews__line-item-5-3 {
  left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-5-3 {
  left: calc(50% + 510px);
  transition-delay: 0.4s;
}

.reviews__line-item-5-4 {
  left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-5-4 {
  left: calc(50% + 850px);
  transition-delay: 0.5s;
}

.reviews__line-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 7px;
}

.reviews__line-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(127, 127, 127, 0.5);
}

.reviews__line-name {
  color: rgba(37, 37, 37, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reviews__line-bottom {
  color: rgba(37, 37, 37, 0.3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 1480px) {
  .reviews__title {
    font-size: 38px !important;
  }

  .reviews__descr {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
    max-width: 500px;
  }
 
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }
  .advantages__line {
    margin: 70px auto 40px auto;
  }
  .popular__line {
    margin: 70px auto 40px auto;
  }
  .popular__inner {
    margin: 0 auto;
    max-width: 860px;
  }
  .popular__line.line-long {
    margin: 70px auto 40px auto;
  }
  .why__line {
    margin: 70px auto 40px auto;
  }
  .why__descr {
    margin-bottom: 70px;
  }
  .mdf__section {
    height: 670px;
  }
  .furniture__section {
    height: 750px;
  }
  .sizes__descr {
    width: 75%;
  }
  .catalogue__line {
    margin: 70px auto 40px auto;
  }
  .catalogue__line.long-line {
    margin: 70px auto 40px auto;
  }
  .popular__item {
    width: 280px;
    margin-right: 25px;
  }
  .popular__items .swiper-wrapper {
    transform: translate3d(-900px, 0px, 0px);
  }
}

@media (max-width: 1024px) {
  .header__slide-title {
    font-size: 45px !important;
  }
  .header__slide-btn {
    width: 170px;
    height: 30px;
    font-size: 16px;
  }
  .advantages__line {
    margin: 80px auto 35px auto;
  }
  .advantages__item-title {
    font-size: 20px;
  }
  .popular__line {
    margin: 80px auto 35px auto;
  }
  .popular__inner {
    margin: 0 auto;
    max-width: 680px;
  }
  .popular__item {
    padding: 20px;
    width: 210px;
    height: 420px;
  }
  .popular__item-top {
    width: 120px;
    height: 260px;
  }
  .popular__item-top-cover {
    bottom: 74px;
    left: 88px;
    font-size: 36px;
    text-wrap: nowrap;
}
  .popular__item-title {
    margin-bottom: 15px;
  }
  .swiper-button-next {
    right: -45px;
    width: 35px;
    height: 80px;
  }
  .swiper-button-next:hover::before {
    height: 77px;
    width: 35px;
  }
  .swiper-button-prev {
    left: -45px;
    width: 35px;
    height: 80px;
  }
  .swiper-button-prev:hover::before {
    height: 77px;
    width: 35px;
  }
  .popular__line.line-long {
    margin: 80px auto 35px auto;
    width: 500px;
  }
  .why__line {
    margin: 80px auto 35px auto;
  }
  .why__descr {
    margin-bottom: 80px;
  }
  .mdf__section {
    height: 650px;
  }
  .furniture__section {
    height: 600px;
  }
  .sizes__section {
    height: 580px;
  }
  .sizes__descr {
    width: 75%;
  }
  .sizes__section.scrolled .sizes__img-1 {
    left: calc(50% - 25px);
  }
  .sizes__section.scrolled .sizes__img-2 {
    left: calc(50% + 70px);
  }
  .sizes__section.scrolled .sizes__img-3 {
    left: calc(50% - 115px);
  }

  .catalogue__line {
    margin: 80px auto 35px auto;
  }
  .catalogue__item {
    height: 420px;
    padding: 20px;
  }
  .catalogue__item-top {
    width: 140px;
    height: 270px;
  }
  .catalogue__item-top-cover {
    bottom: 45px;
    font-size: 45px;
  }
  .catalogue__item-title {
    font-size: 20px;
  }
  .catalogue__line.long-line {
    margin: 80px auto 35px auto;
    max-width: 500px;
  }
  .advantages__title,
  .popular__title,
  .banner__title,
  .why__title,
  .mdf__title,
  .furniture__title,
  .sizes__title,
  .banner__title,
  .catalogue__title,
  .reviews__title {
    font-size: 35px !important;
  }
  .mdf__descr {
    width: 70%;
  }
  .banner__btn,
  .furniture__btn,
  .reviews__btn {
    font-size: 16px;
    padding: 8px 25px;
  }

  /* .reviews__section {
    height: 530px;
  }
  .reviews__line-name {
    font-size: 14px;
  }
  .reviews__line-bottom {
    font-size: 14px;
  } 
.reviews__line-top {
  padding-top: 15px;
}
   .reviews__line-2 > div {
    top: 50px;    
  }   
  .reviews__section.scrolled .reviews__line-item-2-2,
  .reviews__section.scrolled .reviews__line-item-4-2 {
    left: calc(50% + 50px);
  }
  .reviews__line-1,
  .reviews__line-5,
  .reviews__section.scrolled .reviews__line-item-2-1,
  .reviews__section.scrolled .reviews__line-3 > div,
  .reviews__section.scrolled .reviews__line-4 > div {
    display: none;
  }
  .reviews__line-3 > div {
    top: 210px;
  }
  .reviews__line-4 > div {
    top: 370px;
  }
  .reviews__right > div > div {
    height: 115px;
  } */
}

@media (max-width: 800px) {
  .header__slide-title {
    font-size: 40px !important;
  }
  .advantages__title,
  .popular__title,
  .banner__title,
  .why__title,
  .mdf__title,
  .furniture__title,
  .sizes__title,
  .banner__title,
  .catalogue__title,
  .reviews__title {
    font-size: 30px !important;
  }
  .advantages__line,
  .popular__line,
  .popular__line.line-long,
  .why__line,
  .catalogue__line,
  .catalogue__line.long-line {
    margin: 70px auto 30px auto !important;
  }
  .why__descr {
    margin-bottom: 70px;
  }

  .banner__section {
    height: 400px;
  }
  .advantages__items {
    grid-template-columns: 1fr 1fr;
    row-gap: 55px;
    column-gap: 0;
  }
  .advantages__item-title {
    font-size: 20px;
    max-width: 225px;
  }
  .advantages__item-descr {
    max-width: 200px;
  }
  .mdf__section {
    height: 550px;
  }
  .mdf__title {
    max-width: 325px;
  }
  .mdf__descr {
    font-size: 16px !important;
  }
  .mdf__section.scrolled .mdf__right > img {
    width: 95%;
    height: 97%;
  }
  .mdf__section.scrolled .mdf__img-1 {
    left: calc(50% + 20px);
  }
  .mdf__section.scrolled .mdf__img-2 {
    left: calc(50% - 30px);
  }
  .mdf__section.scrolled .mdf__img-3 {
    left: calc(50% - 80px);
  }
  .mdf__img-1 {
    max-height: 450px;
  }
  .mdf__img-2 {
    max-height: 500px;
  }
  .mdf__img-3 {
    max-height: 400px;
  }
  .furniture__section {
    height: 530px;
  }
  .furniture__inner {
    height: 100%;
  }
  .furniture__descr {
    font-size: 16px !important;
  }
  .banner__btn,
  .furniture__btn,
  .reviews__btn {
    font-size: 15px;
    padding: 5px 20px;
  }
  .popular__inner {
    margin: 0 auto;
    max-width: 520px;
  }
  .popular__item {
    height: 400px;
    padding-top: 10px;
  }
  .popular__item-img {
    width: 90%;
    height: 95%;
  }
  .popular__item-top-cover {
    left: 110px;
    font-size: 36px;
    text-wrap: nowrap;
  }
  .popular__item-title {
    font-size: 18px;
  }
  .popular__btn {
    font-size: 14px;
    padding: 5px 20px;
  }
  .sizes__section {
    height: 460px;
  }  
  .sizes__descr {
    max-width: 200px;
    font-size: 16px !important;
  }
  .sizes__section.scrolled .sizes__img-1 {
    height: 370px;
    left: calc(50% - 15px);
  }
  .sizes__section.scrolled .sizes__img-2 {
    height: 335px;
    left: calc(50% + 50px);
  }
  .sizes__section.scrolled .sizes__img-3 {
    height: 250px;
    left: calc(50% - 85px);
  }
  .catalogue__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .catalogue__items {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    justify-items: center;
  }
  .catalogue__item {
    max-height: 390px;
    /* max-width: 80%; */
    width: 280px;
}
  .catalogue__item-top {
    max-width: 130px;
    max-height: 245px;
  }
  .catalogue__item-top-cover {
    bottom: 60px;
  }

  /* .reviews__section.scrolled .reviews__line-2 > div,
  .reviews__section.scrolled .reviews__line-3 > div,
  .reviews__section.scrolled .reviews__line-4 > div {
    left: 0;
  } */
  /* .reviews__inner {
    grid-template-columns: 1fr;
  }
  .reviews__left {
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .reviews__line {
    margin: 0 auto;
    margin-top: 50px;
  }
  .reviews__title {
    margin: 0 auto;
  }
  .reviews__descr {
    margin: 0 auto;
    text-align: center;
  } */
}

@media (max-width: 640px) {
  .swiper-wrapper {
    height: 100%;
  }
  .header__slide-title {
    font-size: 33px;
  }
  .header__slide-text {
    margin-top: 230px;
  }
  .header__slide-btn {
    width: 150px;
    height: 30px;
    font-size: 14px;
  }
  .advantages__title,
  .popular__title,
  .banner__title,
  .why__title,
  .mdf__title,
  .furniture__title,
  .sizes__title,
  .banner__title,
  .catalogue__title,
  .reviews__title {
    font-size: 25px !important;
  }
  .advantages__line,
  .popular__line,
  .popular__line.line-long,
  .why__line,
  .catalogue__line,
  .catalogue__line.long-line {
    margin: 60px auto 30px auto !important;
  }
  .advantages__line,
  .popular__line,
  .why__line,
  .mdf__line,
  .furniture__line,
  .sizes__line,
  .catalogue__line,
  .reviews__line {
    max-width: 100px;
  }
  .popular__line.line-long {
    width: 300px;
  }

  .why__descr {
    margin-bottom: 60px;
  }
  .advantages__descr,
  .banner__descr,
  .why__descr,
  .banner__descr,
  .catalogue__descr {
    font-size: 16px !important;
    max-width: 390px;
  }
  .advantages__items {
    grid-template-columns: 1fr;
    max-width: 230px;
    margin: 0 auto;
  }

  .advantages__item-title {
    font-size: 18px;
    max-width: 200px;
  }
  .advantages__item-descr {
    max-width: 230px;
  }
  .popular__inner {
    max-width: 100%;
  }
  .popular__item {
    height: 395px;
    margin-right: 0;
    padding: 25px;
    padding-top: 25px;
    align-items: center;
  }
 
  .popular__item-top {
    height: 240px;
    left: -22px;
  }
  .popular__item-top-cover {
    left: 80px;
    font-size: 38px;
    text-wrap: nowrap;
}
.popular__item-bottom {
  text-align: center;
  margin-top: -60px;
  padding-top: 15px;
}
.swiper-button-prev {  
  left: 25;
}
.swiper-button-next {
  right: 25;
}
  .mdf__section.scrolled .mdf__right > img {
    width: 73%;
    height: 95%;
  }
  .mdf__section {
    height: 470px;
  }

  .mdf__section.scrolled .mdf__img-1 {
    left: calc(50% + 20px);
  }
  .mdf__section.scrolled .mdf__img-2 {
    left: calc(50% - 20px);
  }
  .mdf__section.scrolled .mdf__img-3 {
    left: calc(50% - 60px);
  }
  .furniture__section {
    height: 550px;
  }
  .furniture__descr {
    line-height: 25px;
  }

  .sizes__section.scrolled .sizes__img-1 {
    height: 290px;
    left: calc(50% - 7px);
  }
  .sizes__section.scrolled .sizes__img-2 {
    height: 250px;
    left: calc(50% + 50px);
  }
  .sizes__section.scrolled .sizes__img-3 {
    height: 210px;
    left: calc(50% - 59px);
  }
  .banner__section {
    height: 320px;
  }
  .banner-application {
    max-width: 380px;
  }
  .catalogue__items {
    grid-template-columns: 1fr;
  }
  .catalogue__item.unfinished {
    display: none;
  }
}

/* @media (max-width: 350px) {
.header__slide-title {
  font-size: 30px !important;
  max-width: 250px;
}
} */


@media (max-width: 480px) {
  .header__slide-title {
    font-size: 28px !important;
  }
  .header__slide-text {
    margin-top: 180px !important;
  }
  .header__slide-descr {
    margin-bottom: 20px !important;
  }
  .header__slide-btn {
    width: 124px;
    height: 23px;
    font-size: 13px;
}
  .advantages__title, 
  .popular__title, 
  .banner__title, 
  .why__title, .mdf__title, 
  .furniture__title, 
  .sizes__title, 
  .banner__title, 
  .catalogue__title, 
  .reviews__title {
    font-size: 22px !important;
    text-align: center;
}
.advantages__descr, 
.banner__descr, 
.why__descr, 
.banner__descr, 
.catalogue__descr {
  font-size: 14px !important;
  max-width: 280;
}

.banner__btn, 
.furniture__btn, 
.reviews__btn {
  font-size: 14px;
  padding: 4px 10px;
}
  .popular__inner {
    max-width: 100%;
  }
  .popular__item {
    height: 395px;
    margin-right: 0;
    padding: 45px;
    padding-top: 15px;
    align-items: center;
  }
  
  .popular__item-top {
    height: 240px;
    left: -22px;
  }
  .popular__item-top-cover {
    left: 75px;
    font-size: 35px;
}
.popular__item-bottom {
  text-align: center;
  margin-top: -60px;
  padding-top: 15px;
}
.swiper-button-prev {  
  left: 15;
}
.swiper-button-next {
  right: 15;
}
.line-long {
  width: 290px;
}
.popular__line.line-long {
  width: 250px;
}
.why__title,
.mdf__title {
  margin-bottom: 15px;
}
.mdf__section {
  height: 500px;
}
.mdf__inner {
  grid-template-columns: 1fr;
  padding-top: 50px;
}
.mdf__left {
  align-items: center;
  justify-content: flex-start;
}
.mdf__line {
  margin: 0px auto;
  margin-bottom: 20px;
}
.mdf__title {
  text-align: center;
  max-width: 220px;
}
.mdf__descr {
  font-size: 14px !important;
  text-align: center;
  max-width: 240px !important;
  margin: 0 auto;
}
.mdf__section.scrolled .mdf__right > img {
  height: 220px;
  width: auto;
}
.mdf__section.scrolled .mdf__img-1 {
  left: 65%;
  
}
.mdf__section.scrolled .mdf__img-2 {
  left: 50%;
  
}
.mdf__section.scrolled .mdf__img-3 {
  left: 35%;
  

}
.furniture__section {
  position: relative;
  height: 630px;
}
.furniture__inner {
  grid-template-columns: 1fr;
}
.furniture__left {
  grid-row: 2 / 3;
}
.furniture__right {
  height: 100%;
  justify-content: flex-start;
  padding-top: 40px;
  margin-bottom: 20px;
}
.furniture__line {
  margin: 60px auto;
  margin-bottom: 20px;
}
.furniture__title {
  margin: 0 auto;
  margin-bottom: 20px;
}
.furniture__descr {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}
.banner__btn, .furniture__btn, .reviews__btn {
  font-size: 12px;
  padding: 4px 10px;
  margin: 0 auto;
}
.banner__section.zamer-section {
  background-attachment: scroll;
}
.furniture__left {
  margin-bottom: -90px;
  max-height: 200px;
}
.furniture__line {
  margin: 20px auto;
}
.furniture__left > img {
  top: 315px;
  width: 100%;
  position: absolute;
}

.sizes__section {
  height: 480px;
}
.sizes__inner {
  grid-template-columns: 1fr;
  align-items: center;
}
.sizes__line {
  margin: 0 auto;
  margin-bottom: 20px;
}
.sizes__title {
  margin: 0 auto;
  margin-bottom: 15px;
}
.sizes__descr {
  font-size: 15px !important;
  text-align: center;
  margin: 0 auto;
}
.sizes__section.scrolled .sizes__img-1 {
  height: 170px;
  width: 45%;
}
.sizes__section.scrolled .sizes__img-2 {
  height: 154px;
  left: calc(50% + 30px);
}
.sizes__section.scrolled .sizes__img-3 {
  height: 135px;
  left: calc(50% - 44px);
}
.catalogue__items {
  grid-template-columns: 1fr;
}
.catalogue__item {
  max-height: 350px;
  width: 250px;
  justify-content: space-around;
}
.catalogue__item-top {
  height: 210px;
}
.catalogue__item-bottom {
  margin: 0 auto;
  text-align: center;
}
.catalogue__item-top-cover {
  font-size: 35px;
  left: 100px;
}
.catalogue__item-title {
  font-size: 17px;
  margin-bottom: 10px;
}
.catalogue__btn {
  font-size: 13px;
  padding: 2px 15px;
}
.catalogue__item.unfinished {
  display: none;
}
.reviews__inner  {
  grid-template-columns: 1fr;
  align-items: center;
}
.reviews__line {
  margin: 0 auto;
  margin-bottom: 20px;
}
.reviews__title {
  margin: 0 auto;
  margin-bottom: 20px;
}
.reviews__descr {
  font-size: 14px;
  max-width: 280px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
}

@media (max-width: 320px) {
}















@media (max-width: 480px) {
  .reviews__section,
  .reviews__inner {
    height: auto !important;
  }
  .reviews__inner {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .reviews__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(-260px) scale(0.8);
  }
  .reviews__right > div {
    position: relative;
    height: 127px;
  }
  .reviews__right > div > div {
    opacity: 1;
    top: auto !important;
    bottom: 0px !important;
  }
  .reviews__section.scrolled .reviews__line-3 > div {
    transform: translateX(-340px);
  }
  .reviews__line-4,
  .reviews__line-5 {
    display: none;
  }
}