#panel {
    background: #2B2B2B;
}


.types__line {
    border: none;
    max-width: 190px;
    margin: 75 auto 50 0;
    background: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    height: 1px;
}

.types__title {
    color: #FFF;
    text-align: left;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.types__descr {
    max-width: 605px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 75px;
    color: rgba(255, 255, 255, 0.50);
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.types__cnfg {
    display: grid;
    grid-template-columns: 1fr 2.1fr;
    gap: 30px;
}

.types__cnfg-left {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #343434;
}

.types__cnfg-img {
    width: 100%;
    height: 390px;
}

.types__cnfg-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.types__cnfg-cost-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.types__cnfg-cost-name {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.types__cnfg-cost {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2px;
}

.types__cnfg-sale-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;
}

.types__cnfg-sale-name {
    color: rgba(255, 255, 255, 0.50);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.types__cnfg-sale-name span {
    color: rgba(255, 255, 255, 0.75);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.types__cnfg-sale {
    color: rgba(255, 255, 255, 0.50);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: strikethrough;
}

.types__cnfg-text {
    width: 100%;
}

.types__cnfg-btn {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 35px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    transition: all .3s ease-out;
}

.types__cnfg-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.types__cnfg-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 30px;
    padding-top: 15px;
}

.types__cnfg-block-name {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.types__cnfg-block-line {
    border: none;
    width: 100%;
    margin: 10 auto 20 auto;
    background: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    height: 1px;
}

.types__cnfg-block-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.types__cnfg-block-item {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #343434;
    transition: all .3s ease-out;
    cursor: pointer;
}

.types__cnfg-block-item.active {
    border: 2px solid rgba(240, 240, 240, 0.65);
    cursor: default;
}

.types__cnfg-block-item.active:hover {
    transform: none;
}

.types__cnfg-block-item.active>img {
    opacity: 1;
}

.types__cnfg-block-item:hover {
    transform: scale(1.02);
}

.types__cnfg-block-item:hover>img {
    opacity: 1;
}

.types__cnfg-block-item>img {
    max-height: 112px;
    width: auto;
    opacity: 0.5;
}

@media(max-width: 1480px) {
    .container {
        max-width: 1050px;
        margin: 0 auto;
    }

    .types__title {
        font-size: 38px !important;
        margin-bottom: 25px;
    }

    .types__descr {
        font-size: 18px;
        max-width: 505px;
        margin-bottom: 50px;
    }

    .types__cnfg-img {
        height: 330px;
    }

    .types__cnfg-block-item-img {
        max-height: 95px;
    }
}






.popular__inner {
    position: relative;
}

.popular__line {
    border: none;
    max-width: 190px;
    margin: 100 auto 50 auto;
    background: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    height: 1px;
}

.popular__title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.popular__descr {
    max-width: 605px;
    margin: 0 auto;
    margin-bottom: 75px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popular__item {
    background: #343434;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 625px;
    transition: all .3s linear;
}

.popular__item:hover {
    transform: scale(1.015);
}

.popular__item-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    position: relative;
    width: 132px;
    height: 411px;
}

.popular__item-top-cover {
    color: rgba(255, 255, 255, 0.10);
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transform: rotate(-90deg);
    text-wrap: nowrap;
    position: absolute;
    bottom: 40px;
    left: 110px;
    width: 100%;
    font-style: normal;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
    cursor: default;
}

.popular__item-subtitle {
    margin-bottom: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular__item-title {
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.popular__btn {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    transition: all .3s ease-out;
}

.popular__btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.popular__items .swiper-wrapper {
    height: fit-content;
}

.swiper-button-prev::after {
    font-family: 'icomoon' !important;
    content: "\e900";
    font-size: 50px;
    color: #FFF;
}

.swiper-button-next::after {
    font-family: 'icomoon' !important;
    content: "\e901";
    font-size: 50px;
    color: #FFF;
}

.swiper-button-prev {
    left: -85px;
    width: 55px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.50);
    transition: all .3s ease-out;
}

.swiper-button-next {
    right: -85px;
    width: 55px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.50);
    transition: all .3s ease-out;
}

.swiper-button-prev::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 55px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    transition: all .3s ease-out;
}

.swiper-button-prev:hover::before {
    height: 120px;
    opacity: 1;
}

.swiper-button-prev:hover {
    transform: scale(1.03);
}

.swiper-button-next::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 55px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    transition: all .3s ease-out;
}

.swiper-button-next:hover::before {
    height: 120px;
    opacity: 1;
}

.swiper-button-next:hover {
    transform: scale(1.03);
}

.popular__line.line-long {
    max-width: 605px;
    margin: 100px auto 75px auto;

}

@media (max-width: 1480px) {
    .popular__title {
        font-size: 38px !important;
        margin-bottom: 25px;
    }

    .popular__descr {
        font-size: 18px;
        max-width: 505px;
        margin-bottom: 50px;
    }

    .popular__item {
        height: 505px;
    }

    .popular__item-subtitle {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .popular__item-title {
        font-size: 22px;
    }

    .popular__btn {
        font-size: 16px;
        padding: 5px 25px;
    }

    .popular__btn:hover {
        transform: scale(1.007);
    }

    .popular__item-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .popular__item-top {
        width: 102px;
        height: 313px;
    }

    .popular__item-top-cover {
        bottom: 25px;
        left: 90px;
        font-size: 45px;
    }

    .swiper-button-next {
        right: -65px;
        width: 40px;
        height: 90px;
    }

    .swiper-button-prev {
        left: -65px;
        width: 40px;
        height: 90px;
    }

    .swiper-button-prev::after {
        font-size: 36px;
    }

    .swiper-button-next::after {
        font-size: 36px;
    }

    .swiper-button-prev::before {
        width: 40px;
    }

    .swiper-button-next::before {
        width: 40px;
    }

    .swiper-button-prev:hover::before {
        height: 90px;
        opacity: 1;
    }

    .swiper-button-next:hover::before {
        height: 90px;
        opacity: 1;
    }

    .popular__line.line-long {
        margin: 75px auto 50px auto;
    }
}







.banner__section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: 465px;
}

.banner__section.zamer-section {
    background-image: url(../img/partitions/zamer-banner-img.webp);
}

.banner__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 605px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.banner__descr {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 605px;
    margin-bottom: 45px;
}

.banner__btn {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 35px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    transition: all .3s ease-out;
}

.banner__btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1480px) {
    .banner__title {
        font-size: 38px !important;
    }

    .banner__descr {
        font-size: 18px !important;
        max-width: 490px;
    }
}












.glass__line {
    border: none;
    max-width: 190px;
    margin: 100 auto 50 0;
    background: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    height: 1px;
}

.glass__title {
    color: #FFF;
    text-align: left;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.glass__descr {
    max-width: 605px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 75px;
    color: rgba(255, 255, 255, 0.50);
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.glass__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.glass__item {
    background: #343434;
    padding: 35px 30px;
    position: relative;
}

.glass__item-subtitle {
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.glass__item-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.glass__item-btn {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    transition: all .3s ease-out;
    width: fit-content;
}

.glass__item-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.glass__item-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
}

.glass__item-text {
    margin-top: 250px;
}

.glass__line.line-long {
    max-width: 605px;
    margin: 100 auto 75 auto;
}

@media(max-width: 1480px) {
    .glass__title {
        font-size: 38px !important;
        margin-bottom: 25px;
    }

    .glass__descr {
        font-size: 18px;
        max-width: 505px;
        margin-bottom: 75px;
    }
    .glass__item-img {
        max-height: 250px;
    }
    .glass__item-text {
        margin-top: 210px;
    }
    .glass__line.line-long {
        max-width: 605px;
        margin: 75 auto 50 auto;
    }
}














.materials__section {
    background: #E3E3E3;
    height: 850px;
    overflow: hidden;
    position: relative;
}

.materials__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.materials__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.materials__line {
    border: none;
    max-width: 190px;
    margin: 0 0 50 auto;
    background: rgba(37, 37, 37, 0.50);
    color: rgba(37, 37, 37, 0.50);
    height: 1px;
}

.materials__title {
    color: #252525;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 540px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 25px;
}

.materials__descr {
    max-width: 605px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 75px;
    color: rgba(37, 37, 37, 0.50);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.materials__btn {
    color: #252525;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border: 2px solid rgba(37, 37, 37, 0.50);
    transition: all .3s ease-out;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
}

.materials__btn:hover {
    background: rgba(37, 37, 37, 0.1);
}

.materials__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 850px;
}
@media(max-width: 1480px) {
    .materials__title {
        font-size: 38px !important;
        margin-bottom: 25px;
    }

    .materials__descr {
        font-size: 18px;
        max-width: 505px;
        margin-bottom: 75px;
    }
    .materials__img {
        height: 100vh;
    }
    .materials__section {
        height: 100vh;
    }
}











.catalogue__line {
    border: none;
    max-width: 190px;
    margin: 100 auto 50 auto;
    background: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    height: 1px;
}

.catalogue__title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.catalogue__descr {
    max-width: 605px;
    margin: 0 auto;
    margin-bottom: 75px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalogue__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 26px;
    row-gap: 30px;

}

.catalogue__item {
    background: #343434;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 625px;
    transition: all .3s ease-out;
}
.catalogue__item.unfinished {
    pointer-events: none;
    opacity: 0.25;
  }
.catalogue__item:hover {
    transform: scale(1.015);
}

.catalogue__item-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    position: relative;
    width: 132px;
    height: 411px;
}

.catalogue__item-top-cover {
    color: rgba(255, 255, 255, 0.10);
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transform: rotate(-90deg);
    text-wrap: nowrap;
    position: absolute;
    bottom: 40px;
    left: 110px;
    width: 100%;
    font-style: normal;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
    cursor: default;
}

.catalogue__item-subtitle {
    margin-bottom: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.catalogue__item-title {
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.catalogue__btn {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    transition: all .3s ease-out;
}

.catalogue__btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.catalogue__line.long-line {
    border: none;
    max-width: 605px;
    margin: 100 auto 75 auto;
    background: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    height: 1px;
}

@media (max-width: 1480px) {
    .catalogue__title {
        font-size: 38px !important;
    }

    .catalogue__descr {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 50px;
        max-width: 500px;
    }

    .catalogue__item {
        height: 505px;
    }

    .catalogue__item-subtitle {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .catalogue__item-title {
        font-size: 22px;
    }

    .catalogue__btn {
        font-size: 16px;
        padding: 5px 25px;
    }

    .catalogue__btn:hover {
        transform: scale(1.007);
    }

    .catalogue__item-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .catalogue__item-top {
        width: 102px;
        height: 313px;
    }

    .catalogue__item-top-cover {
        bottom: 25px;
        left: 90px;
        font-size: 45px;
    }

}



















.projects__inner {
    padding-top: 150px;
    padding-bottom: 100px;
}

.projects__line {
    border: none;
    max-width: 190px;
    margin: 0 auto 50 auto;
    background: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    height: 1px;
}

.projects__title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.projects__descr {
    max-width: 605px;
    margin: 0 auto;
    margin-bottom: 75px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projects__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.projects__item {
    position: relative;
    overflow: hidden;
}

.projects__item {
    background: #343434;
}

.projects__item.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.projects__item.item-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.projects__item.item-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.projects__item.item-4 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.projects__item.item-5 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.projects__item.item-6 {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

.projects__item.item-7 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.projects__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .6s ease-out;
}

.projects__item:hover .projects__item-img {
    transform: scale(1.07);
}

.projects__item:hover .projects__item-text {
    opacity: 1;
    transform: translate(-50%, calc(-50%));
}

.projects__item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 20px));
    border: 2px solid #fff;
    padding: 25px 15px;
    opacity: 0;
    transition: all .5s ease-out;
    transition-delay: 0.2s;
}

.projects__item-title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;

}

.projects__item-descr {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    text-align: left;
    margin-bottom: 35px;
}

.projects__item-btn {
    padding: 5px 15px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    color: #fff;
    font-size: 14px;
    transition: all .3s ease-out;
}

.projects__item-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

.projects__item:hover .projects__item-cover {
    opacity: 1;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.projects__item-cover {
    position: absolute;
    width: calc(100% - 40px);
    height: 0px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .3s ease-out;
}
@media(max-width: 1480px) {
    .projects__title {
        font-size: 38px !important;
        margin-bottom: 25px;
    }

    .projects__descr {
        font-size: 18px;
        max-width: 505px;
        margin-bottom: 75px;
    }
    .projects__inner {
        padding-top: 100px;
    }
}

















.reviews__section {
    background: #E3E3E3;
    height: 850px;
    position: relative;
    overflow: hidden;
}

.reviews__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 100%;
}

.reviews__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.reviews__line {
    border: none;
    width: 100%;
    max-width: 190px;
    margin-left: 0;
    margin-bottom: 50px;
    background: rgba(37, 37, 37, 0.50);
    color: rgba(37, 37, 37, 0.50);
    height: 1px;
}

.reviews__title {
    color: #252525;
    text-align: left;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
    max-width: 540px;
    margin-right: auto;
    margin-left: 0;
}

.reviews__descr {
    max-width: 550px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 75px;
    color: rgba(37, 37, 37, 0.50);
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.reviews__btn {
    color: #252525;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border: 2px solid rgba(37, 37, 37, 0.50);
    transition: all .3s ease-out;
    width: fit-content;
}

.reviews__btn:hover {
    background: rgba(37, 37, 37, 0.1);
}

.reviews__right>div>div {
    background: #D9D9D9;
    width: 311.333px;
    height: 127.248px;
    position: absolute;
    transition: all .4s ease-out;
    opacity: 0;
}

.reviews__section.scrolled .reviews__line-1>div {
    opacity: 1;
}

.reviews__line-1>div {
    top: 45px;
}

.reviews__line-item-1-1 {
    left: calc(50% - 120px);
    transition-delay: 0.1s;
}

.reviews__section.scrolled .reviews__line-item-1-1 {
    left: calc(50% - 170px);
    transition-delay: 0.2s;
}

.reviews__line-item-1-2 {
    left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-1-2 {
    left: calc(50% + 170px);
    transition-delay: 0.3s;
}

.reviews__line-item-1-3 {
    left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-1-3 {
    left: calc(50% + 510px);
    transition-delay: 0.4s;
}

.reviews__line-item-1-4 {
    left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-1-4 {
    left: calc(50% + 850px);
    transition-delay: 0.5s;
}


.reviews__line-2>div {
    top: 205px;
}

.reviews__section.scrolled .reviews__line-2>div {
    opacity: 1;
}

.reviews__line-item-2-1 {
    left: calc(50% + 40px);
}

.reviews__section.scrolled .reviews__line-item-2-1 {
    left: calc(50% - 10px);
    transition-delay: 0.4s;
}

.reviews__line-item-2-2 {
    left: calc(50% + 380px);
}

.reviews__section.scrolled .reviews__line-item-2-2 {
    left: calc(50% + 330px);
    transition-delay: 0.5s;
}

.reviews__line-item-2-3 {
    left: calc(50% + 720px);
}

.reviews__section.scrolled .reviews__line-item-2-3 {
    left: calc(50% + 670px);
    transition-delay: 0.6s;
}

.reviews__line-item-2-4 {
    left: calc(50% + 1060px);
}

.reviews__section.scrolled .reviews__line-item-2-4 {
    left: calc(50% + 1010px);
    transition-delay: 0.7s;
}

.reviews__line-3>div {
    top: 365px;
}

.reviews__section.scrolled .reviews__line-3>div {
    opacity: 1;
}

.reviews__line-item-3-1 {
    left: calc(50% + 110px);
    width: 80px !important;
}

.reviews__section.scrolled .reviews__line-item-3-1 {
    left: calc(50% + 60px);
    transition-delay: 0.2s;
}

.reviews__line-item-3-2 {
    left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-3-2 {
    left: calc(50% + 170px);
    transition-delay: 0.3s;
}

.reviews__line-item-3-3 {
    left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-3-3 {
    left: calc(50% + 510px);
    transition-delay: 0.4s;
}

.reviews__line-item-3-4 {
    left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-3-4 {
    left: calc(50% + 850px);
    transition-delay: 0.5s;
}

.reviews__line-4>div {
    top: 520px;
}

.reviews__section.scrolled .reviews__line-4>div {
    opacity: 1;
}

.reviews__line-item-4-1 {
    left: calc(50% + 40px);
}

.reviews__section.scrolled .reviews__line-item-4-1 {
    left: calc(50% - 10px);
    transition-delay: 0.4s;
}

.reviews__line-item-4-2 {
    left: calc(50% + 380px);
}

.reviews__section.scrolled .reviews__line-item-4-2 {
    left: calc(50% + 330px);
    transition-delay: 0.5s;
}

.reviews__line-item-4-3 {
    left: calc(50% + 720px);
}

.reviews__section.scrolled .reviews__line-item-4-3 {
    left: calc(50% + 670px);
    transition-delay: 0.6s;
}

.reviews__line-item-4-4 {
    left: calc(50% + 1060px);
}

.reviews__section.scrolled .reviews__line-item-4-4 {
    left: calc(50% + 1010px);
    transition-delay: 0.7s;
}

.reviews__line-5>div {
    top: 675px;
}

.reviews__section.scrolled .reviews__line-5>div {
    opacity: 1;
}

.reviews__line-item-5-1 {
    left: calc(50% - 120px);
}

.reviews__section.scrolled .reviews__line-item-5-1 {
    left: calc(50% - 170px);
    transition-delay: 0.2s;
}

.reviews__line-item-5-2 {
    left: calc(50% + 220px);
}

.reviews__section.scrolled .reviews__line-item-5-2 {
    left: calc(50% + 170px);
    transition-delay: 0.3s;
}

.reviews__line-item-5-3 {
    left: calc(50% + 560px);
}

.reviews__section.scrolled .reviews__line-item-5-3 {
    left: calc(50% + 510px);
    transition-delay: 0.4s;
}

.reviews__line-item-5-4 {
    left: calc(50% + 900px);
}

.reviews__section.scrolled .reviews__line-item-5-4 {
    left: calc(50% + 850px);
    transition-delay: 0.5s;
}


.reviews__line-top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 7px;
}

.reviews__line-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgba(127, 127, 127, 0.50);
}

.reviews__line-name {
    color: rgba(37, 37, 37, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.reviews__line-bottom {
    color: rgba(37, 37, 37, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 1480px) {
    .reviews__title {
        font-size: 38px !important;
    }

    .reviews__descr {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 50px;
        max-width: 500px;
    }
}














#glass01.fancybox__content,
#glass02.fancybox__content,
#glass03.fancybox__content,
#glass04.fancybox__content {
    padding: 75px 50px;
}
.glass__section-popup .glass__title {
    color: #252525;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}
.glass__section-popup .glass__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.glass__section-popup .glass__line.first {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    margin: 0;
    height: auto;
    max-height: none !important;
    width: 100%;
    margin-top: 50px;
}
.glass__section-popup .glass__line.second {
    display: grid;
    grid-template-columns: 1fr 180px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    margin: 0;
    height: auto;
    max-height: none !important;
    width: 100%;
}

.glass__section-popup .glass__line-subtitle {
    color: #252525;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 15px;
}
.glass__section-popup .glass__line-descr {
    max-width: 525px;
    color: rgba(37, 37, 37, 0.50);
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 50px;
}




#partition01.fancybox__content,
#partition02.fancybox__content,
#partition03.fancybox__content,
#partition04.fancybox__content,
#partition05.fancybox__content,
#partition06.fancybox__content,
#partition07.fancybox__content {
    padding: 75px 50px;
}
.prt__title {
    color: #252525;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}
.prt__block {
    display: grid;
    grid-template-columns: 180px 1fr;
}
.prt__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.prt__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.prt__line-subtitle {
    color: #252525;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 15px;
}
.prt__line-descr {
    max-width: 525px;
    color: rgba(37, 37, 37, 0.50);
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 50px;
}