#panel {
  background: #2b2b2b;
}

.projects__line {
  margin-right: 0;
  border: none;
  max-width: 190px;
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.projects__descr {
  max-width: 605px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 75px;
}

.projects__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.projects__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  height: 450px;
}

.projects__items > .projects__item:nth-child(even):nth-child(n+1) > .projects__item-left {
  grid-column: 2/3;
}

.projects__items > .projects__item:nth-child(even) > .projects__item-right {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.projects__items > .projects__item:nth-child(even) > .projects__item-right .projects__item-line {
  margin-right: 0;
  margin-left: auto;
}

.projects__item-line {
  margin-right: 0;
  border: none;
  width: 100%;
  max-width: 190px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.projects__item-title {
  width: 606px;
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 605px;
  margin-bottom: 35px;
}

.projects__item-descr {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 535px;
  margin-bottom: 55px;
}

.projects__item-btn {
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px 35px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: transparent;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.projects__item-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}

.projects__item-left {
  height: 100%;
  max-height: 450px;
}
.projects__item-left > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}